.event-view{
    background: #fff;
}
#sub.prm_page {
    /* margin-top: 151px; */

}
.event-view{max-width:1920px; margin:0 auto;}
.event-view .sec .inner{max-width:1280px; margin:0 auto; position: relative;}
.event-view img {
    width: 100%;
}
.event-view iframe {
    border:0;
}
.event-view .sec.visual {background: url('../img/pc-sec0-bg.png') center no-repeat;
background-size: cover; }

.event-view .sec2{background: url('../img/pc-sbg_02.jpg') center no-repeat;}
.event-view .sec3{background: url('../img/pc-sbg_03.jpg') center no-repeat;}
/* .event-view .sec5{ width: 100%; height: 148px; padding-top: 148px; background: #001937; }
.event-view .sec5 .inner {position: relative; width: 100%; height: 148px; background: #001937;} */
.event-view .sec6{ position: relative; background: url('../img/pc-sbg_06.jpg') center no-repeat; padding-top: 148px;}
.event-view .sec6 .f_inner{ position:absolute ; top: 0; left: 0; width: 100%; height: 148px; background: #001937;}
.event-view .sec7{background: url('../img/pc-sbg_07.jpg') center no-repeat;}
.event-view .sec8{background: url('../img/pc-sbg_08.jpg') center no-repeat;}
.event-view .sec9{background: url('../img/pc-sbg_09.jpg') center no-repeat;}
.event-view .sec10{background: url('../img/pc-sbg_10.jpg') center no-repeat;}
.event-view .sec11{background: url('../img/pc-sbg_11.jpg') center no-repeat;}
.event-view .sec12{background: url('../img/pc-sbg_12.jpg') center no-repeat;}
.event-view .sec13{background: url('../img/pc-sbg_13.jpg') center no-repeat;}
.event-view .sec14{background: url('../img/pc-sbg_14.jpg') center no-repeat;}
.event-view .sec15{background: url('../img/pc-sbg_15.jpg') center no-repeat;}
.event-view .sec18{background: url('../img/pc-sbg_18.jpg') center no-repeat;}
.event-view .sec19{background: url('../img/pc-sbg_19.jpg') center no-repeat;}
.event-view .sec21{background: url('../img/pc-sbg_21.jpg') center no-repeat;}

.event-view .sec.visual .slide2{display: none;}
.event-view .sec.visual .obj1, .event-view .sec.visual .obj2{
	position: absolute;
	top: 5%;
    left: 14.8%;
	width:19.416%;
	display: none;
}
.sec4 .video_area1{
    position: absolute;
    top: 40.6%;
    left: 19%;
    width: 61%;
    height: 44.5%;
}
.fixed_banner {position: fixed; top:0; left: 0; z-index: 999;}
.sec6 .link1{
    position: absolute;
    top: 38.5%;
    left: 55%;
    width: 25%;
    height: 2.5%;
    background: red;
    opacity: 0;
}
.sec6 .link2{
    position: absolute;
    top: 66.5%;
    left: 4%;
    width: 25%;
    height: 2.5%;
    background: red;
    opacity: 0;
}
.sec6 .link3{
    position: absolute;
    top: 91%;
    left: 55%;
    width: 25%;
    height: 2.5%;
    background: red;
    opacity: 0;
}
.sec7 .video_area1{
    position: absolute;
    top: 60.6%;
    left: 3.5%;
    width: 30.5%;
    height: 22.5%;
}
.sec7 .video_area2{
    position: absolute;
    top: 60.6%;
    left: 34.7%;
    width: 30.5%;
    height: 22.5%;
}
.sec7 .video_area3{
    position: absolute;
    top: 60.6%;
    left: 65.9%;
    width: 30.5%;
    height: 22.5%;
}
.sec8 .video_area1{
    position: absolute;
    top: 40.6%;
    left: 19%;
    width: 30.5%;
    height: 24%;
}
.sec8 .video_area2{
    position: absolute;
    top: 40.6%;
    left: 50.5%;
    width: 30.5%;
    height: 24%;
}
.sec9 .video_area1{
    position: absolute;
    top: 31.6%;
    left: 19.7%;
    width: 29.7%;
    height: 17.5%;
}
.sec9 .video_area2{
    position: absolute;
    top: 31.6%;
    left: 50.7%;
    width: 29.7%;
    height: 17.5%;
}
.sec9 .video_area3{
    position: absolute;
    top: 58.2%;
    left: 19.7%;
    width: 29.7%;
    height: 17.5%;
}
.sec9 .video_area4{
    position: absolute;
    top: 58.2%;
    left: 50.7%;
    width: 29.7%;
    height: 17.5%;
}
.sec10-slide{
    position: absolute;
    top: 33.5%;
    left: 18%;
    width: 63%;
    height: 52%;
    z-index: 2;
    overflow: hidden;
}
.sec10 .swiper{
    height:100%;
}
.sec10 .swiper-button-prev, .sec10 .swiper-button-next{
    width:134px; height:194px;
    top: 62%;
    transform: translateY(-50%);
}
.sec10 .swiper-button-prev{
    left: 46px;
    background: url('../img/arrow-prev.png') no-repeat;
}
.sec10 .swiper-button-next{
    right: 54px;
    background: url('../img/arrow-next.png') no-repeat;
}
.sec10 .swiper-button-prev:after{
    display: none;
}
.sec10 .swiper-button-next:after{
    display: none;
}
.sec10 .link1{
    position: absolute;
    top: 86%;
    left: 20%;
    width: 29%;
    height: 4.5%;
    background: red;
    opacity: 0;
}
.sec10 .link2{
    position: absolute;
    top: 86%;
    left: 51%;
    width: 29%;
    height: 4.5%;
    background: red;
    opacity: 0;
}

.sec11 .video_area1{
    position: absolute;
    top: 46.7%;
    left: 13.7%;
    width: 38%;
    height: 18%;
    background: red;
    opacity: 0;
}
.sec11 .link1{
    position: absolute;
    top: 19%;
    left: 3%;
    width: 31%;
    height: 9.5%;
    background: red;
    opacity: 0;
}
.sec11 .link2{
    position: absolute;
    top: 21%;
    left: 35%;
    width: 29%;
    height: 7.5%;
    background: red;
    opacity: 0;
}
.sec11 .link3{
    position: absolute;
    top: 21%;
    left: 67%;
    width: 29%;
    height: 7.5%;
    background: red;
    opacity: 0;
}
.sec12 .video_area1{
    position: absolute;
    top: 37.6%;
    left: 13%;
    width: 39%;
    height: 21.5%;
}
.sec12 .link1{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 29%;
    height: 9.5%;
    background: red;
    opacity: 0;
}
.sec12 .link2{
    position: absolute;
    top: 2%;
    left: 34%;
    width: 31%;
    height: 12.5%;
    background: red;
    opacity: 0;
}
.sec12 .link3{
    position: absolute;
    top: 5%;
    left: 67%;
    width: 29%;
    height: 9.5%;
    background: red;
    opacity: 0;
}
.sec13 .video_area1{
    position: absolute;
    top: 35.6%;
    left: 13.5%;
    width: 39%;
    height: 21.5%;
}
.sec13 .link1{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 29%;
    height: 9.5%;
    background: red;
    opacity: 0;
}
.sec13 .link2{
    position: absolute;
    top: 5%;
    left: 34%;
    width: 29%;
    height: 9.5%;
    background: red;
    opacity: 0;
}
.sec13 .link3{
    position: absolute;
    top: 2%;
    left: 66%;
    width: 29%;
    height: 12.5%;
    background: red;
    opacity: 0;
}

.sec14 .ani_area{
    position: absolute;
    top: 33%;
    left: 20.5%;
    width: 61%;
    height: 50%;
}
 .sec14 .ani_area {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s 0.1s ease-in-out;
}

 .sec14.show .ani_area {
    opacity: 1;
    transform: translateY(0);
}

.sec17 .link1{
    position: absolute;
    top: 77%;
    left: 25%;
    width: 49%;
    height: 10.5%;
    background: red;
    opacity: 0;
}
.sec20 .link1{
    position: absolute;
    top: 85%;
    left: 34%;
    width: 35%;
    height: 8.5%;
    background: red;
    opacity: 0;
}
.sec21 .link1{
    position: absolute;
    top: 87%;
    left: 16%;
    width: 25%;
    height: 8.5%;
    background: red;
    opacity: 0;
}
.sec21 .link2{
    position: absolute;
    top: 86%;
    left: 58%;
    width: 25%;
    height: 8.5%;
    background: red;
    opacity: 0;
}
.sec22 .link1{
    position: absolute;
    top: 65%;
    left: 18%;
    width: 63%;
    height: 10.5%;
    background: red;
    opacity: 0;
}

.float_wrap{position:fixed; right:20px; top:30%; z-index:50; padding-top:20px; z-index:99999;}
.float_wrap.on{display: block;}
.float_wrap .banner{position:relative;}
.float_wrap .f_link1{
    position:absolute;
    top: 2%;
    left: 2%;
    width: 97%;
    height: 46%;
    background:red;
    opacity: .7;
}
.float_wrap .f_link2{
    position:absolute;
    top: 2%;
    left: 2%;
    width: 97%;
    height: 30%;
    background:red;
    opacity: 0;
}
.float_wrap .f_link3{
    position:absolute;
    top: 36%;
    left: 2%;
    width: 97%;
    height: 30%;
    background:red;
    opacity: 0;
}
.float_wrap .f_link4{
    position:absolute;
    top: 68%;
    left: 2%;
    width: 97%;
    height: 30%;
    background:red;
    opacity: 0;
}
.event-view .mo-img {
    display: none;
}

.popup .pop_wrap{min-height:540px;}
.popup .desc_wrap{height:460px;}
.popup .pop_wrap {     left: 50%; margin-left: -500px; width: 100%; max-width: 1000px; height: 540px; margin-top: -270px; }
.popup .desc_wrap .top { background: #f4f6f9;  border-bottom: 2px solid #164194; position: relative;  border-top-right-radius: 30px;  box-sizing: border-box; padding: 20px 30px 20px 30px;font-size: 1.5rem; line-height: 22px; letter-spacing: -0.5px;  color: #10264f;   font-weight: 500}
.popup .desc_wrap .btm > div { padding: 15px 20px 15px 20px; border-bottom: 1px solid rgba(204, 204, 204, 0.5); color: #333 }
.popup .desc_wrap .btm > div:last-child { border-bottom: none; }
.popup .desc_wrap .btm > div > b { width: 170px; float: left;  font-size: 1.5rem;  line-height: 22px;   letter-spacing: -0.5px;  }
.popup .desc_wrap .btm > div > div {  width: calc(100% - 170px);  float: left; }
.popup .desc_wrap .inid{height:40px;padding:8px 10px;border:1px solid #cccccc;line-height:1; max-width:300px;}

.popup .desc_wrap .fileBox_wrap { position:relative; }
.popup .desc_wrap .fileBtn{display:block; width:110px; height:40px; float:left;}
.popup .desc_wrap .fileBox_wrap p.ptxt{clear: both;  display:block; margin-top:10px; color:#164194; font-weight: 400;}
.popup .desc_wrap .fileBox .inputBox{float:left; box-sizing: border-box; }
.popup .desc_wrap .fileBox input[type="text"]{float:left;overflow:hidden;box-sizing:border-box;height:32px;padding:8px 10px;border:1px solid #cccccc;line-height:1;background:#fafafa;  box-sizing: border-box; }
.popup .desc_wrap .fileBox_wrap .inputBox{float:left;width: calc(100% - 170px);  box-sizing: border-box;}

.popup .desc_wrap .fileBox p.ptxt{clear: both;  display:block; margin-top:10px; color:#164194; font-weight: 400;}
.popup .desc_wrap .fileBtn{float:left;margin-left:5px;  box-sizing: border-box;}
.popup .desc_wrap .fileBtn label{display:inline-block;width:150px;font-size:14px;line-height:40px; height:40px; letter-spacing:-1px;color:#f6f6f6;background:#757880;text-align:center; border-radius: 4px;  box-sizing: border-box;}
.popup .desc_wrap .fileBtn input[type="file"]{visibility:hidden;width:0;height:0;padding:0;margin:0;}

.popup .btn_box{ text-align: center; margin-top: 10px}
.popup .tit_wrap > p.p2,
.popup .desc_wrap .top.top2 { display: none }
.pop_transfer.type4 .tit_wrap > p,
.pop_transfer.type4 .desc_wrap .top { display: none }
.pop_transfer.type4 .tit_wrap > p.p2,
.pop_transfer.type4 .desc_wrap .top.top2 { display: block }


 /* info */
 .paraScroll {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    background: rgba(0,0,0,.7);
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px;
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px){

    .event-view .sec.visual { min-height: 100vw; padding: 40px 0 50px 0; }

    .pop_wrap{left:0; margin-left:3%; width: 94%}
    .popup.pop_profile .pop_wrap {  width: 94%;  margin: -250px 3% 0 3%; }
	.popup.pop_profile .desc_wrap {  padding: 10px;}
}
@media screen and (max-width: 720px){
    .event-view .mo-img {
        display: block;
    }
    .event-view .pc-img {
        display: none !important;
    }
    .event-view .sec.visual{height:auto; padding:0; min-height: auto; background: url('../img/mo-sec0-bg.jpg') no-repeat; background-size: 100%;}

    .event-view .sec6 .f_inner{ position:absolute ; top: 0; left: 0; width: 100%; height: 74px; background: #001937;}
    .sec4 .video_area1{
        position: absolute;
        top: 40.6%;
        left: 0;
        width: 100%;
        height: 48.5%;
    }

    .sec6 .link1{
        position: absolute;
        top: 22.5%;
        left: 39%;
        width: 36%;
        height: 2%;
        background: red;
        opacity: 0;
    }
    .sec6 .link2{
        position: absolute;
        top: 51.5%;
        left: 4%;
        width: 36%;
        height: 2.5%;
        background: red;
        opacity: 0;
    }
    .sec6 .link3{
        position: absolute;
        top: 86%;
        left: 40%;
        width: 35%;
        height: 2%;
        background: red;
        opacity: 0;
    }
    .sec7 .video_area1{
        position: absolute;
        top: 25.6%;
        left: 0;
        width: 100%;
        height: 17.1%;
    }
    .sec7 .video_area2{
        position: absolute;
        top: 50.8%;
        left: 0;
        width: 100%;
        height: 17%;
    }
    .sec7 .video_area3{
        position: absolute;
        top: 76%;
        left: 0;
        width: 100%;
        height: 17.1%;
    }
    .sec8 .video_area1{
        position: absolute;
        top: 29.2%;
        left: 0;
        width: 100%;
        height: 25%;
    }
    .sec8 .video_area2{
        position: absolute;
        top: 64.4%;
        left: 0;
        width: 100%;
        height: 24.7%;
    }
    .sec9 .video_area1{
        position: absolute;
        top: 13.9%;
        left: 0;
        width: 100%;
        height: 15%;
    }
    .sec9 .video_area2{
        position: absolute;
        top: 36.2%;
        left: 0;
        width: 100%;
        height: 15%;
    }
    .sec9 .video_area3{
        position: absolute;
        top: 58%;
        left: 0;
        width: 100%;
        height: 14.5%;
    }
    .sec9 .video_area4{
        position: absolute;
        top: 79.2%;
        left: 0;
        width: 100%;
        height: 14.5%;
    }

    .sec10-slide {
		position: absolute;
        top: 31.5%;
        left: 13.4%;
        width: 72%;
        height: 66%;
		z-index: 2;
		overflow: hidden;
	}
    .sec10 .swiper-button-prev, .sec10 .swiper-button-next{
        width:78px; height:102px;
        top:59%;
        transform: translateY(-50%);
    }
    .sec10 .swiper-button-prev{
        left:-10px;
        background: url('../img/arrow-prev.png') no-repeat;
        background-size: 100%;
    }
    .sec10 .swiper-button-next{
        right:-6px;
        background: url('../img/arrow-next.png') no-repeat;
        background-size: 100%;
    }
    .sec10 .link1 {
        position: absolute;
        top: 82%;
        left: 23%;
        width: 55%;
        height: 7.5%;
        background: red;
        opacity: 0;
    }
    .sec10 .link2 {
        position: absolute;
        top: 91%;
        left: 23%;
        width: 55%;
        height: 7.5%;
        background: red;
        opacity: 0;
    }

    .sec11 .video_area1{
        position: absolute;
        top: 31.7%;
        left: 10.7%;
        width: 42%;
        height: 12%;

    }
    .sec11 .link1{
        position: absolute;
        top: 12%;
        left: 1%;
        width: 31%;
        height: 7.5%;
        background: red;
        opacity: 0;
    }
    .sec11 .link2{
        position: absolute;
        top: 14%;
        left: 35%;
        width: 29%;
        height: 5.5%;
        background: red;
        opacity: 0;
    }
    .sec11 .link3{
        position: absolute;
        top: 14%;
        left: 67%;
        width: 29%;
        height: 5.5%;
        background: red;
        opacity: 0;
    }
    .sec12 .video_area1{
        position: absolute;
        top: 27.6%;
        left: 11%;
        width: 41%;
        height: 14.7%;
    }
    .sec12 .link1{
        position: absolute;
        top: 5%;
        left: 3%;
        width: 29%;
        height: 7.5%;
        background: red;
        opacity: 0;
    }
    .sec12 .link2{
        position: absolute;
        top: 2%;
        left: 34%;
        width: 31%;
        height: 10.5%;
        background: red;
        opacity: 0;
    }
    .sec12 .link3{
        position: absolute;
        top: 5%;
        left: 67%;
        width: 29%;
        height: 7.5%;
        background: red;
        opacity: 0;
    }
    .sec13 .video_area1{
        position: absolute;
        top: 23.6%;
        left: 10.5%;
        width: 42%;
        height: 13.5%;

    }
    .sec13 .link1{
        position: absolute;
        top: 5%;
        left: 3%;
        width: 29%;
        height: 5.5%;
        background: red;
        opacity: 0;
    }
    .sec13 .link2{
        position: absolute;
        top: 5%;
        left: 34%;
        width: 29%;
        height: 5.5%;
        background: red;
        opacity: 0;
    }
    .sec13 .link3{
        position: absolute;
        top: 2%;
        left: 66%;
        width: 32%;
        height: 8.5%;
        background: red;
        opacity: 0;
    }

    .sec14 .ani_area{
        position: absolute;
        top: 33%;
        left: 18.5%;
        width: 61%;
        height: 50%;

    }

    .sec14 .ani_area {
        opacity: 0;
        transform: translateY(80px);
        transition: all 1s 0.1s ease-in-out;
    }

    .sec14.show .ani_area {
        opacity: 1;
        transform: translateY(0);
    }

    .sec17 .link1{
        position: absolute;
        top: 77%;
        left: 23%;
        width: 53%;
        height: 13.5%;
        background: red;
        opacity: 0;
    }
    .sec20 .link1{
        position: absolute;
        top: 83%;
        left: 33%;
        width: 37%;
        height: 8.5%;
        background: red;
        opacity: 0;
    }
    .sec21 .link1{
        position: absolute;
        top: 49.5%;
        left: 28%;
        width: 42%;
        height: 4.5%;
        background: red;
        opacity: 0;
    }
    .sec21 .link2{
        position: absolute;
        top: 88.4%;
        left: 28%;
        width: 42%;
        height: 4.5%;
        background: red;
        opacity: 0;
    }
    .sec22 .link1{
        position: absolute;
        top: 69%;
        left: 16%;
        width: 69%;
        height: 14.5%;
        background: red;
        opacity: 0;
    }
    .float_wrap {display: none;}
    .float_wrap.on{display: none;}

}
@media screen and (max-width: 640px){
}
@media screen and (max-width: 540px){
    .popup .desc_wrap .top{padding:20px 15px; font-size:1.3rem; line-height: 1.6;}
    .popup .desc_wrap .btm > div {padding: 10px;}
	.popup .desc_wrap .btm > div > b{width:100%; float:none; display: block;}
	.popup .desc_wrap .btm > div > div{width:100%; float:none; display: block;}
	.popup .pop_wrap{height:680px; margin-top:-340px;}
	.popup .desc_wrap{height:610px;}
	.popup .desc_wrap .fileBox_wrap .inputBox{width:100%; float:none; display: block;}
	.popup .desc_wrap .fileBtn{margin-left:0;}

}
@media screen and (max-width: 480px){

    .popup:not(.pop_pass):not(.pop_profile) .desc_wrap {
        height: 600px;}
}

@media (max-width: 1280px) {
    #sub.prm_page {
        /* margin-top: 201px; */
    }
}

@media (max-width: 768px) {
    #sub.prm_page {
        /* margin-top: 134px; */
    }

}
@media (max-width: 720px) {
    #sub.prm_page {
        /* margin-top: 234px; */
    }

}
@media (max-width: 430px) {
    #sub.prm_page {
        /* margin-top: 226px; */
    }
}
