.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .section1 {
    background: url('../img/universe_bg_01.jpg') center no-repeat;
}

.event-view .section2 {
    position: relative;
    background: #222222;
}

.event-view .section3 {
    background: #f0f0f0;
}
.event-view .section4 {
    background: #0b2c73;
}
.event-view .section5 {
    background: url('../img/universe_bg_05.jpg') center no-repeat;
}
.event-view .section6 {
    background: #f0f1f6;
}
.event-view .section7 {
    background: #07050a;
}
.event-view .section8 {
    background: #07050a;
}
.event-view .section9 {
    background: #f3f1f4;
}
.event-view .section10 {
    background: url('../img/universe_bg_10.jpg') center no-repeat;
}
.event-view .section11 {
    background: #f0f1f6;
}
.event-view .section12 {
    height: 734px;
    background: url('../img/universe_bg_12.jpg') center no-repeat;
}
.event-view .section13 {
    background: #f0f1f6;
}
.event-view .section14 {
    background: url('../img/universe_bg_14.jpg') center no-repeat;
}
.event-view .section15 {
    background: #ff6962;
}
.event-view .section16 {
    background: #fff;
}
.event-view .section17 {
    background: #0b2c73;
}

/*section2*/

.section2 .table-wrap {
    padding: 0;
    position: relative;
}

.section2 .table-scroll {
    overflow: hidden;
    height: 34.6875vw;
}

.section2 .table-scroll table {
    animation: loop_scroll 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loop_scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-100% + 34.6875vw));
    }
}

.section2 .table-wrap td img {
    opacity: .2;
}

.section2 .img_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

}

/*section3*/

.section3 {
    position: relative;
}

.section3 .video_area {
    position: absolute;
    top: 19.7%;
    left: 50%;
    transform: translateX(-50%);
    width: 93.5%;
    height: 35%;

}

.section3 .video_area iframe {
    border-radius: 10px;
}

.section3 .video_area1 {
    position: absolute;
    top: 2%;
    left: 0;
    width: 31.5%;
    height: 45%;
    border-radius: 10px;
}

.section3 .video_area2 {
    position: absolute;
    top: 2%;
    left: 34.2%;
    width: 31.7%;
    height: 45%;
    border-radius: 10px;
}

.section3 .video_area3 {
    position: absolute;
    top: 2%;
    left: 68.2%;
    width: 31.7%;
    height: 45%;
    border-radius: 10px;
}

.section3 .video_area4 {
    position: absolute;
    top: 52.3%;
    left: 0;
    width: 31.5%;
    height: 45%;
    border-radius: 10px;
}

.section3 .video_area5 {
    position: absolute;
    top: 52.3%;
    left: 34.2%;
    width: 31.7%;
    height: 45%;
    border-radius: 10px;
    cursor: pointer;
}

.section3 .video_area6 {
    position: absolute;
    top: 52.7%;
    left: 68.4%;
    width: 31.7%;
    height: 45%;
    border-radius: 10px;
    cursor: pointer;
}

/*수강후기 슬라이드*/
.section3 .slide_area {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 32%;
    /* border: 1px solid red */
}

.sec3-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.section3 .swiper {
    height: 100%;
    overflow: hidden;
}

.section3 .swiper .swiper-wrapper {
    transition-timing-function: linear;
}

.section3 .swiper-button-prev,
.section3 .swiper-button-next {
    width: 103px;
    height: 141px;
    top: 64%;
    transform: translateY(-50%);
    z-index: 0;
}

.section3 .swiper-button-prev {
    left: -50px;
    background: url('../img/arrow-prev.png') no-repeat;
}

.section3 .swiper-button-next {
    right: -50px;
    background: url('../img/arrow-next.png') no-repeat;
}

.section3 .swiper-button-prev:after {
    display: none;
}

.section3 .swiper-button-next:after {
    display: none;
}



/*section5*/
.section5 .link1 {
    position: absolute;
    top: 72%;
    left: 6%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link2 {
    position: absolute;
    top: 72%;
    left: 16%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link3 {
    position: absolute;
    top: 84%;
    left: 6%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link4 {
    position: absolute;
    top: 84%;
    left: 16%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}

.section5 .link5 {
    position: absolute;
    top: 72%;
    left: 28%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link6 {
    position: absolute;
    top: 72%;
    left: 38.3%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link7 {
    position: absolute;
    top: 84%;
    left: 28%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link8 {
    position: absolute;
    top: 84%;
    left: 38.3%;
    width: 10%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link9 {
    position: absolute;
    top: 72%;
    left: 52.3%;
    width: 19%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link10 {
    position: absolute;
    top: 84%;
    left: 52.3%;
    width: 19%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link11 {
    position: absolute;
    top: 72%;
    left: 74.3%;
    width: 20%;
    height: 3.5%;
    background: red;
    opacity: 0;
}
.section5 .link12 {
    position: absolute;
    top: 84%;
    left: 74.3%;
    width: 20%;
    height: 3.5%;
    background: red;
    opacity: 0;
}

/*section6*/
.section6 .link1 {
    position: absolute;
    top: 43%;
    left: 17.3%;
    width: 33%;
    height: 35.5%;
    background: red;
    opacity: 0;
}
.section6 .link2 {
    position: absolute;
    top: 43%;
    left: 51.3%;
    width: 33%;
    height: 35.5%;
    background: red;
    opacity: 0;
}

/*section7*/

/*section8*/

.profSlide_area {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 100%;

}

.section8 .prof-swiper-container {
    overflow: hidden;
}

.section8 .swpier-wrapper {
    transition-timing-function: linear;

}

.section8 .swiper-slide {
    box-sizing: border-box;
}

.section8 .jb-a {
    width: 400px;
    margin: 0px auto;
    position: relative
}

.section8 .jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.section8 .jb-a:hover .jb-c {
    opacity: 1;
}

/*swiper prev,next 커스텀*/

.section8 .swiper-button-prev,
.section8 .swiper-button-next {
    width: 20px;
    height: 40px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
}

.section8 .swiper-button-prev {
    left: -50px;
    background: url('../img/arrow-prev_wh.png') no-repeat;
}

.section8 .swiper-button-next {
    right: -50px;
    background: url('../img/arrow-next_wh.png') no-repeat;
}

.section8 .swiper-button-prev:after {
    display: none;
}

.section8 .swiper-button-next:after {
    display: none;
}

/**/

/*section11*/

.section11 .link1 {
    position: absolute;
    top: 67%;
    left: 19%;
    width: 62%;
    height: 12.5%;
    background: red;
    opacity: 0;
}

/*section12*/
.section12 {
    position: relative;
}

.section12 .booksSlide_area {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.books-swiper {
    overflow: hidden;
}

.section12 .books-swiper .swiper-wrapper {
    transition-timing-function: linear;
}

/*section13*/
.section13 .link1 {
    position: absolute;
    top: 76%;
    left: 53.5%;
    width: 20.5%;
    height: 6.2%;
    background: red;
    opacity: 0;
}

.sec13pop {
    margin: 0 auto;
    max-width: 800px;
    z-index: 50;
}

.sec13pop {
    display: none;
}

.sec13pop:before {
    display: block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.sec13pop .layerBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    padding: 0;
}

.sec13pop .layerBox .cont {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.sec13pop .layerBox .cont .img-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sec13pop .layerBox .cont img {
    width: 100%;
}

.sec13pop .layerBox .btnClose {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 13px;
    padding: 6px;
    background: url('../img/icon_close_bk.png') center no-repeat;
    cursor: pointer;
}

/*section14*/
.section14 .link1 {
    position: absolute;
    top: 91.7%;
    left: 50%;
    transform: translateX(-50%);
    width: 26.5%;
    height: 3%;
    background: red;
    opacity: 0;
}

/*슬라이드*/
.section14 .slide_area {
    position: absolute;
    top: 62.7%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: auto;
    /* border: 1px solid red; */
}

.section14 .slide_area .section14_swiper-container {
    overflow: hidden;
}
/*swiper prev,next 커스텀*/

.section14 .swiper-button-prev,
.section14 .swiper-button-next {
    width: 20px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.section14 .swiper-button-prev {
    left: -50px;
    background: url('../img/arrow-prev.png') no-repeat;
}

.section14 .swiper-button-next {
    right: -50px;
    background: url('../img/arrow-next.png') no-repeat;
}

.section14 .swiper-button-prev:after {
    display: none;
}

.section14 .swiper-button-next:after {
    display: none;
}

/*section16*/

.section16 .video_area1 {
    position: absolute;
    top: 27%;
    left: 12%;
    width: 76%;
    height: 54%;
}

.float_wrap {
    position: fixed;
    right: 20px;
    top: 29%;
    z-index: 50;
    padding-top: 20px;
    z-index: 99999;
}

.float_wrap .banner {
    position: relative;
}

.float_wrap .f_link1 {
    position: absolute;
    top: 1%;
    left: 7%;
    width: 86%;
    height: 100%;
    background: red;
    opacity: 0;
}



/*팝업*/
.popup .pop_wrap {
    left: 50%;
    margin-left: -500px;
    width: 100%;
    max-width: 1000px;
    height: 640px;
    min-height: 720px;
    margin-top: -370px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.popup .desc_wrap {
    height: 530px;
    overflow-y: scroll;
}

.popup .desc_wrap .top {
    background: #f4f6f9;
    border-bottom: 2px solid #164194;
    position: relative;
    border-top-right-radius: 0;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #10264f;
    font-weight: 500
}

.popup .desc_wrap .btm>div {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    color: #333
}

.popup .desc_wrap .btm>div:last-child {
    border-bottom: none;
}

.popup .desc_wrap .btm>div>b {
    width: 200px;
    float: left;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.popup .desc_wrap .btm>div>div {
    width: calc(100% - 100px);
    float: left;
}

.popup .desc_wrap .inid {
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    max-width: 300px;
}

.popup .desc_wrap .inid2 {
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    max-width: 100%;
}

.popup .desc_wrap .fileBox_wrap {
    position: relative;
}

.popup .desc_wrap .fileBtn {
    display: block;
    width: 110px;
    height: 40px;
    float: left;
}

.popup .desc_wrap .fileBox_wrap p.ptxt {
    clear: both;
    display: block;
    margin-top: 10px;
    color: #164194;
    font-weight: 400;
}

.popup .desc_wrap .fileBox .inputBox {
    float: left;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox input[type="text"] {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    height: 32px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    background: #fafafa;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox_wrap .inputBox {
    float: left;
    width: calc(100% - 170px);
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox p.ptxt {
    clear: both;
    display: block;
    margin-top: 10px;
    color: #164194;
    font-weight: 400;
}

.popup .desc_wrap .fileBtn {
    float: left;
    margin-left: 5px;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBtn label {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    letter-spacing: -1px;
    color: #f6f6f6;
    background: #757880;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBtn input[type="file"] {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.popup .desc_wrap .notice {
    white-space: pre;
}

.popup .btn_box {
    text-align: center;
    padding: 20px 0;
    background: #fff;
}

.popup .eventNotice {
    font-size: 13px;
}
.popup .desc_wrap .group {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.popup .desc_wrap .group p {
    font-size: 12px;
    margin: 12px 0 0;
}

.popup .desc_wrap .group+.group {
    border-top: none;
    padding-top: 15px;
}

.popup .desc_wrap .group+.group>strong {
    display: block;
    margin-bottom: 20px;
}

.group .agree1 {
    overflow: hidden;
    overflow-y: scroll;
    height: 100px;
    padding: 20px;
    font-size: 13px;
    border: 1px solid #999;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .event-view .mo-img {
        display: block;
    }

    .event-view .pc-img {
        display: none !important;
    }

    /*section2*/
    .section2 {
        height: 65.1042vw;
    }

    .section2 .table-wrap {
        /* background: #222222; */
        padding: 0;
        position: relative;
    }

    .section2 .table-scroll {
        overflow: hidden;
        height: 65.1042vw;
    }

    .section2 .table-scroll table {
        animation: loop_scroll 12s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes loop_scroll {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(calc(-100% + 65.1042vw));
        }
    }

    .section2 .table-wrap td img {
        opacity: .2;
    }

    .section2 .img_layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 84.6354vw;
    }

     /*section3모바일 비디오 수강후기 슬라이드*/
     .section3 .video_slide_area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 40%;
        overflow: hidden;
        /* border: 1px solid red */
    }

    .section3 .video_slide_area .swiper-container {
        overflow: hidden;
    }

    .section3 .video_slide_area .swiper-wrapper {
        transition-timing-function: linear;

    }

    .section3 .video_slide_area .swiper-slide {
        /* height: auto; */
    }

    .videoThum {
        box-shadow:0 1px 1px #c0c0c0,
        0 2px 0 #a8a7a6,
        0 3px 0 #8b8a89,
        0 4px 0 #7d7b7a,
        0 5px 0 #686766,
        0 6px 3px #5f5e5d;
        border-radius: 10px;
    }
    .videoThum img {
         border-radius: 10px;
    }

    /*section5*/
    .section5 .link1 {
        position: absolute;
        top: 40%;
        left: 5%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link2 {
        position: absolute;
        top: 40%;
        left: 26.8%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link3 {
        position: absolute;
        top: 47.2%;
        left: 5%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link4 {
        position: absolute;
        top: 47.2%;
        left: 26.8%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link5 {
        position: absolute;
        top: 40%;
        left: 52%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link6 {
        position: absolute;
        top: 40%;
        left: 73.8%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link7 {
        position: absolute;
        top: 47.2%;
        left: 52%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link8 {
        position: absolute;
        top: 47.2%;
        left: 73.8%;
        width: 21%;
        height: 2.5%;
    }

    .section5 .link9 {
        position: absolute;
        top: 85%;
        left: 6.3%;
        width: 39%;
        height: 2.5%;
    }

    .section5 .link10 {
        position: absolute;
        top: 92.3%;
        left: 6.3%;
        width: 39%;
        height: 2.5%;
    }

    .section5 .link11 {
        position: absolute;
        top: 85%;
        left: 54.3%;
        width: 39%;
        height: 2.5%;
    }

    .section5 .link12 {
        position: absolute;
        top: 92.3%;
        left: 54.3%;
        width: 39%;
        height: 2.5%;
    }

    /*section6*/
    .section6 .link1 {
        position: absolute;
        top: 43%;
        left: 16.3%;
        width: 33%;
        height: 35.5%;
    }

    .section6 .link2 {
        position: absolute;
        top: 43%;
        left: 52.3%;
        width: 34%;
        height: 35.5%;
    }

    /*section8*/
    .profSlide_area {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        height: 100%;
        overflow: hidden;
    }

    .section11 .link1 {
        position: absolute;
        top: 79%;
        left: 67%;
        width: 29%;
        height: 11.5%;
    }

    .event-view .section12 {
        height: auto;
        background: none;
    }

    .section12 .booksSlide_area {
        position: absolute;
        top: 43%;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .section13 .link1 {
        position: absolute;
        top: 78%;
        left: 53.5%;
        width: 32.5%;
        height: 7.5%;
    }

    .section14 .slide_area {
        position: absolute;
        top: 68.9%;
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        height: auto;
        /* border: 1px solid red; */
    }

    .section14 .link1 {
        position: absolute;
        top: 93.7%;
        left: 50%;
        transform: translateX(-50%);
        width: 52.5%;
        height: 5%;
    }

    .section14 .swiper-button-prev {
        left: -14px;
        background: url(../img/arrow-prev.png) no-repeat;
    }

    .section14 .swiper-button-next {
        right: -15px;
        background: url(../img/arrow-next.png) no-repeat;
    }

    .section16 .video_area1 {
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        height: 54%;    }


    .float_wrap {
        position: fixed;
        right: 0;
        top: auto;
        bottom: 0;
        z-index: 50;
        padding-top: 20px;
        z-index: 99999;
    }

    .float_wrap .banner {
        position: relative;
    }

    .float_wrap .banner img {
        width: 100%;
    }

    /*팝업*/

    .pop_wrap {
        left: 0;
        margin-left: 3%;
        width: 94%
    }

    .popup.pop_profile .pop_wrap {
        width: 94%;
        margin: -250px 3% 0 3%;
    }

    .popup.pop_profile .desc_wrap {
        padding: 10px;
    }

    .pop_wrap {
        left: 0;
        margin-left: 3%;
        width: 94%
    }

    .popup.pop_profile .pop_wrap {
        width: 94%;
        margin: -250px 3% 0 3%;
    }

    .popup.pop_profile .desc_wrap {
        padding: 10px;
    }
}