.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .section1 {
    background: url('../img/prevent_bg_01.jpg') center no-repeat;
}

.event-view .section2 {
    background: #c1bca9;
}

.event-view .section3 {
    background: url('../img/prevent_bg_03.jpg') center no-repeat;
}

.event-view .section4,
.event-view .section5,
.event-view .section6,
.event-view .section7,
.event-view .section8{
    background: #342d9d;
}

/*section1*/
.section1 .regNumber_area{
    position: absolute;
    padding: 0 ;
    top: 60.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 180px;
    font-style: italic;
    line-height: 180px;
    text-align: center;
    font-weight: 900;
}
.section1 .regNumber_area em{
    color: #f9e43b;
    font-size: 220px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.5px;
}

.section1 .link1 {
    position: absolute;
    top: 79.5%;
    left: 4.5%;
    width: 30%;
    height: 12.5%;
    background: red;
    opacity: 0;
}
.section1 .link2 {
    position: absolute;
    top: 79.5%;
    left: 35%;
    width: 30%;
    height: 12.5%;
    background: red;
    opacity: 0;
}
.section1 .link3 {
    position: absolute;
    top: 79.5%;
    left: 65.5%;
    width: 30%;
    height: 12.5%;
    background: red;
    opacity: 0;
}

/* section3 */

.section3 .link1 {
    position: absolute;
    top: 74.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 58%;
    height: 10.5%;
    background: red;
    opacity: 0;
}

/*section5 응원하기 작성*/
.writeWrap {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    opacity: 1;
}

.writeWrap .box {
    margin: auto;
    width: 78%;
    padding: 30px;
    background: #F4F4F4;
    border: 1px solid #dedede;
}

.writeWrap .box textarea {
    top: 10%;
    left: 50%;
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    resize: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #717171;
    font-family: 'Noto Sans KR', sans-serif;
}
.writeWrap textarea::placeholder {
    font-size:16px !important;
    letter-spacing: -0.03em !important;
    color: #C4C4C4 !important;
}

.writeWrap .box .count {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #000;
    opacity: 0.5;
    text-align: right;
}

.writeWrap .writeBtn {
    width: 320px;
    height: 60px;
    display: block;
    margin: 20px auto 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
}




/*section6 응원글 리스트*/

.section6.bbs_wrap .inner {

    padding-top: 10px;
    padding-bottom: 10px;
}

.section6 .postit_board_area{
    position: static;
    margin: auto;
    width: 90.5%;
    height: 100%;
}

.all_list {
    margin-left: -12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

 .all_list > li {
    width: 23.8%;
    height: 288px;
    padding: 30px;
    background: #6799ff;
    margin-top: 24px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.06em;
    color: #fff;
    box-sizing: border-box;

}
.all_list > li .detail {
    height: 170px;
    margin: 10px 0 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    word-break: normal;
}
.all_list > li .user_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.05em;
    color: #fff;
    opacity: 0.7;
}

.pagenate li a {
    color: #fff;
}

.pagenate li a:hover {
    background: #fff;
    color: #332d9e;
    font-weight: bold;
    text-decoration: none !important;
}

.pagenate li a.current {
    color: #332d9e;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}




/*section8 유의사항*/
.section8 .inner {
    padding: 50px 60px;
}


.section8 .noticeList {

    margin: auto;
    padding: 40px 130px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #fff;

}
.section8 .noticeList > li {

}
.section8 .noticeList > li:first-child {
    margin-top: 0;
}
.section8 .noticeList li {
    line-height: 1.6;
    color: #464646;
    font-size: 15px;
    font-weight: 700;
}

.section8 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.section8 .noticeList li.xi-icon::before{
    content: "\e929";
    position: absolute;
    top: -3px;
    left: 0;
    color: #ff7374;
    font-size: 18px;
    font-weight: 600;
}

.section8 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;

}

.section8 .noticeList .cont_d {
    padding-left: 15px;
}




@media screen and (max-width: 1280px) {
    body {
        overflow-x: hidden;
    }

    .section1 .regNumber_area{
        position: absolute;
        padding: 0 ;
        top: 60.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 20%;
        color: #fff;
        font-size: 14.0625vw;
        font-style: italic;
        line-height: 14.0625vw;
        text-align: center;
        font-weight: 900;
    }
    .section1 .regNumber_area em{
        color: #f9e43b;
        font-size: 17.1875vw;
        font-style: italic;
        font-weight: 900;
        letter-spacing: -0.0391vw;
    }
    .all_list {
        margin-left: -0.9375vw;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .all_list > li {
        width: 48.8%;
        height: 22.5000vw;
        padding: 2.3438vw;
        background: #6799ff;
        margin-top: 1.8750vw;
        text-align: left;
        font-weight: 400;
        font-size: 1.2500vw;
        line-height: 2.1875vw;
        letter-spacing: -0.06em;
        color: #fff;
        box-sizing: border-box;
    }

    .all_list > li .detail {
        height: 13.2813vw;
        margin: 0.7813vw 0 1.5625vw;
        overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        word-break: normal;
    }

    .writeWrap {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50%;
        opacity: 1;
    }

    .writeWrap .box {
        margin: auto;
        width: 78%;
        padding: 2.3438vw;
        background: #F4F4F4;
        border: 0.0781vw solid #dedede;
    }

    .writeWrap .box textarea {
        top: 10%;
        left: 50%;
        width: 100%;
        height: 4.6875vw;
        background: transparent;
        border: none;
        resize: none;
        font-weight: 400;
        font-size: 1.4063vw;
        line-height: 2.1094vw;
        letter-spacing: -0.03em;
        color: #717171;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .writeWrap .writeBtn {
        width: 25.0000vw;
        height: 4.6875vw;
        display: block;
        margin: 1.5625vw auto 0;
        font-weight: 500;
        font-size: 1.2500vw;
        line-height: 4.5313vw;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        background: #000000;
        border-radius: 0.3906vw;
    }

}

@media screen and (max-width: 1024px) {



}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 768px) {

    .event-view .mo-img {
        display: block;
    }

    .event-view .pc-img {
        display: none !important;
    }

    /*section1*/
    .section1 .regNumber_area{
        position: absolute;
        padding: 0 ;
        top: 48.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 20%;
        color: #fff;
        font-size:14.5833vw;
        line-height:27.8646vw;
        text-align: center;
        font-weight: 900;
    }
    .section1 .regNumber_area em{
        padding: 0;
        font-size:16.9271vw;
        font-weight: 900;
        letter-spacing: -0.0651vw;
    }

    .section1 .link1 {
        position: absolute;
        top: 66.5%;
        left: 1.5%;
        width: 32%;
        height: 25.5%;
    }

    .section1 .link2 {
        position: absolute;
        top: 66.5%;
        left: 34%;
        width: 32%;
        height: 25.5%;
    }

    .section1 .link3 {
        position: absolute;
        top: 66.5%;
        left: 66.5%;
        width: 32%;
        height: 25.5%;
    }

    /* section2 */
    .section2 .regNumber_area{
        position: absolute;
        padding: 0 ;
        top: 62%;
        left: 4%;
        width: 40%;
        height: 10%;
        color: #fff;
        font-size: 6.5104vw;
        line-height: 10.9375vw;
        text-align: center;
        font-weight: 700;
        /* border: 1px solid #000; */
    }
    .section2 .regNumber_area em{
        padding: 0 2.1250vw;
        color: #ff0000;
        font-size: 6.5104vw;
        font-weight: 900;
        letter-spacing: -0.2604vw;
        background: #fefe05;
        border-radius: 1.9531vw;
    }


    .section2 .link1 {
        position: absolute;
        top: 78%;
        left: 55%;
        /* transform: translateX(-50%); */
        width: 38.1%;
        height: 8.2%;
    }

    .section3 .link1 {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        width: 86.1%;
        height: 13.2%;

    }

    .section3 .link2 {
        position: absolute;
        top: 67%;
        left: 33%;
        width: 15.1%;
        height: 6.2%;

    }

    .section3 .link3 {
        position: absolute;
        top: 78%;
        left: 33%;
        width: 15.1%;
        height: 6.2%;

    }

    .section4 .link1 {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 80.1%;
        height: 9.2%;


    }

    .section5 .inner {
        padding: 6.5104vw 5.2083vw;
    }

    .section5 .noticeList {
        margin: auto;
        padding: 2.6042vw;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .section6.bbs_wrap .inner {
        padding-top: 0;
        padding-bottom: 10px;
    }

    .section6 .postit_board_area {
        position: static;
        margin: auto;
        width: 88.5%;
        height: 100%;
    }

    .all_list {
        margin-left: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .all_list > li {
        width: 48.8%;
        height: 41.6667vw;
        padding: 3.9063vw;
        background: #6799ff;
        margin-top: 3.1250vw;
        text-align: left;
        font-weight: 400;
        font-size: 2.0833vw;
        line-height: 3.6458vw;
        letter-spacing: -0.06em;
        color: #fff;
        box-sizing: border-box;
    }

    .all_list > li .detail {
        height: 26.0417vw;
        margin: 1.3021vw 0 2.4740vw;
        overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        word-break: normal;
    }

    .writeWrap {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 50%;
        opacity: 1;
    }

    .writeWrap .box {
        margin: auto;
        width: 77%;
        padding: 3.9063vw;
        background: #F4F4F4;
        border: 0.1302vw solid #dedede;
    }
    .writeWrap .box textarea {
        top: 10%;
        left: 50%;
        width: 100%;
        height: 7.8125vw;
        background: transparent;
        border: none;
        resize: none;
        font-weight: 400;
        font-size: 2.3438vw;
        line-height: 3.5156vw;
        letter-spacing: -0.03em;
        color: #717171;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .writeWrap .writeBtn {
        width: 40.3646vw;
        height: 7.8125vw;
        display: block;
        margin: 2.6042vw auto 0;
        font-weight: 500;
        font-size: 2.0833vw;
        line-height: 7.5521vw;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        background: #000000;
        border-radius: 0.6510vw;
    }


    .section7 .event_link1 {
        position: absolute;
        top: 21.4%;
        left: 6.3%;
        width: 43.1%;
        height: 10.2%;
    }

    .section7 .event_link2 {
        position: absolute;
        top: 21.4%;
        left: 50.5%;
        width: 43.1%;
        height: 10.2%;
    }

    .section7 .sns_link1 {
        position: absolute;
        top: 48.8%;
        left: 9.7%;
        width: 14.1%;
        height: 23.7%;
    }

    .section7 .sns_link2 {
        position: absolute;
        top: 48.8%;
        left: 26.7%;
        width: 13.1%;
        height: 23.7%;
    }

    .section7 .sns_link3 {
        position: absolute;
        top: 48.8%;
        left: 43.6%;
        width: 13.1%;
        height: 23.7%;
    }

    .section7 .sns_link4 {
        position: absolute;
        top: 48.8%;
        left: 60.2%;
        width: 13.1%;
        height: 23.7%;
    }

    .section7 .sns_link5 {
        position: absolute;
        top: 48.8%;
        left: 77.2%;
        width: 13.1%;
        height: 23.7%;
    }

    .section7 .copy-btn {
        position: absolute;
        top: 81.3%;
        left: 29.9%;
        width: 14.6%;
        height: 5.3%;
        overflow: hidden;
    }

    .section8 .linkform {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        padding: 0 30px;
    }
    .section8 .linkform input::placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #454545;
    }
    .section8 .linkform input[type="text"] {
        width: 77%;
        border: none;
        height: 9.1146vw;
        line-height: 10.1563vw;
        padding: 0 6.5104vw;
        font-size: 1.4rem;
        color: #666666;
        background: #fff;
        /* border: 1px solid #222; */
        box-sizing: border-box;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }
    .section8 .linkform input[type="button"] {
        width: 23%;
        padding-left: 1.9531vw;
        border: none;
        background: none;
        height: 9.1146vw;
        line-height: 9.7656vw;
        font-family: 'GmarketSansMedium';
        font-size: 1.5rem;
        color: #222;
        font-weight: 500;
        background-color: #f7e86b;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    #sub .bbs_wrap .bbs .list_bg {
        padding: 5.2083vw 5.2083vw 0;
        /* background: #fff; */
        height: auto;
    }

    .section10 .pr_board_area {
        position: static;
        margin: auto;
        width: 95%;
        height: auto;
        background: #fff;
    }

    .section8 .inner {
        padding: 6.5104vw 5.2083vw;
    }

    .section8 .noticeList {
        margin: auto;
        padding: 2.6042vw;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }


}

@media screen and (max-width: 600px) {

    .all_list > li {
        width: 100%;
        height: 260px;
        padding: 30px;
        background: #6799ff;
        margin-top: 24px;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.06em;
        color: #fff;
        box-sizing: border-box;
    }

    .all_list > li .detail {
        height: 146px;
        margin: 10px 0 19px;
        overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        word-break: normal;
    }
}

@media screen and (max-width: 540px) {
    .writeWrap {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        height: 50%;
        opacity: 1;
    }
    .writeWrap .box {
        margin: auto;
        width: 84%;
        padding: 10px 5px;
        background: #F4F4F4;
        border: 0.1302vw solid #dedede;
    }

    .writeWrap .box textarea {
        top: 10%;
        left: 50%;
        width: 100%;
        height: 12.8125vw;
        background: transparent;
        border: none;
        resize: none;
        font-weight: 400;
        font-size: 2.3438vw;
        line-height: 3.5156vw;
        letter-spacing: -0.03em;
        color: #717171;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .writeWrap textarea::placeholder {
        font-size:12px !important;
        line-height: 1.2;
        letter-spacing: -0.03em !important;
        color: #C4C4C4 !important;
    }

    .writeWrap .writeBtn {
        width: 40.3646vw;
        height: 7.8125vw;
        display: block;
        margin: 1.6042vw auto 0;
        font-weight: 500;
        font-size: 2.0833vw;
        line-height: 8.5521vw;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        background: #000000;
        border-radius: 0.651vw;
    }
}

@media screen and (max-width: 480px) {
}