.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .sec1 {background: url('../images/passout_bg_01.jpg') center no-repeat;}
.event-view .sec2 {background: url('../images/passout_bg_02.jpg') center no-repeat;}
.event-view .sec3 { background: #e4f2ff;}
.event-view .sec4 { background: #0aaa86;}
.event-view .sec5 { background: #333333;}
.event-view .sec6,
.event-view .sec7,
.event-view .sec8,
.event-view .sec9,
.event-view .sec10 { background: #e2e2e2; }
.event-view .sec10 { padding-bottom: 110px;}
.event-view .sec11 { background: #333333;}

.sec2 .video_area1 {
    position: absolute;
    top: 33.8%;
    left: 50%;
    transform: translateX(-50%);
    width: 48%;
    height: 30.1%;
    /* border: 1px solid red ; */
}

.sec2 .video {
    position: absolute;
    
}

.sec2 .video.m1 {
    top: 73.8%;
    left: 19.8%;
    width: 30%;
    height: 18.8%;
}

.sec2 .video.m2 {
    top: 73.8%;
    left: 50.3%;
    width: 30%;
    height: 18.8%;
}


.sec2 .video video {
    width: 100%;
    height: 100%;
}

/*sec3 슬라이드*/
.sec3 .slide_area {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
    width: 1030px;
    height: 500px;
    /* border: 1px solid red ; */
}

.sec3 .tbook_swiper-container {
    overflow: hidden;
}

.sec3 .tbook_swiper-container .swiper-button-next {
    right: -70px;
    background: url(../images/arrow-next_bk.png) no-repeat;
}
  
.sec3 .tbook_swiper-container .swiper-button-prev {
    left: -70px;
    background: url(../images/arrow-prev_bk.png) no-repeat;
}
.sec3 .tbook_swiper-container .swiper-button-next::after,
.sec3 .tbook_swiper-container .swiper-button-prev::after {
  display: none;
}

/*sec4 배포단*/
.sec4 .day_wrap {
    position: absolute;
    width: 14.7%;
    height: 9%;
    /* border: 1px solid #000; */
    text-align: left;
    border-radius: 10px;
}

.sec4 .day_wrap.timeOver::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border-radius: 15px;
    z-index: 10;

}
.sec4 .day_wrap.timeOver::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/timeover_label.png) no-repeat center;
    background-size: 78%;
    z-index: 20;
}

.sec4 .day_wrap p{
    position: relative;
    width: 100%;
    height: 100%;
}

.sec4 .day_wrap p .count {
    position: absolute;
    color: #fff;
    font-size:30px;
    font-weight: 900;
    bottom: 11%;
}
.sec4 .day_wrap p .count.num1 {
    left: 21%;
}
.sec4 .day_wrap p .count.num2 {
    left: 43%;;
}
.sec4 .day_wrap p .count.num3 {
    left: 64%;
}

.sec4 .day_wrap.day1 {
    top: 54.3%;
    left: 10.4%;
}

.sec4 .day_wrap.day2 {
    top: 54.3%;
    left: 26.6%;
}

.sec4 .day_wrap.day3 {
    top: 54.3%;
    left: 42.8%;
}

.sec4 .day_wrap.day4 {
    top: 54.3%;
    left: 59%;
}

.sec4 .day_wrap.day5 {
    top: 54.3%;
    left: 75.2%;
}

.sec4 .day_wrap.day6 {
    top: 64.6%;
    left: 10.4%;
}

.sec4 .day_wrap.day7 {
    top: 64.6%;
    left: 26.6%;
}

.sec4 .day_wrap.day8 {
    top: 64.6%;
    left: 42.8%;
}

.sec4 .day_wrap.day9 {
    top: 64.6%;
    left: 59%;
}

.sec4 .day_wrap.day10 {
    top: 64.6%;
    left: 75.2%;
}



/*********************/

.sec4 .link1 {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    width: 48%;
    height: 6.5%;
    background: red;
    opacity: 0;
}

.sec4 .txt {
    position: absolute;
    top: 84.6%;
    left: 7.5%;
    width: 60%;
    height: 6.5%;
    color: #343434;
    font-size: 13px;
    letter-spacing: -1px;
    white-space: pre;
}

.sec5 .link1 {
    position: absolute;
    top: 63%;
    left: 17%;
    width: 43%;
    height: 23.5%;
    background: red;
    opacity: 0;
}

/*sec7 소문내기 SNS링크*/
.sec7 .event_link1 {
    position: absolute;
    top: 20.4%;
    left: 19.3%;
    width: 30.1%;
    height: 10.2%;
    background: red;
    opacity: 0;
}

.sec7 .event_link2 {
    position: absolute;
    top: 20.4%;
    left: 50.5%;
    width: 30.5%;
    height: 10.2%;
    background: red;
    opacity: 0;
}



.sec7 .sns_link1 {
    position: absolute;
    top: 51.8%;
    left: 21.7%;
    width: 10.1%;
    height: 23.7%;
    background: red;
    opacity: 0;
}

.sec7 .sns_link2 {
    position: absolute;
    top: 51.8%;
    left: 33.7%;
    width: 9.1%;
    height: 23.7%;
    background: red;
    opacity: 0;
}

.sec7 .sns_link3 {
    position: absolute;
    top: 51.8%;
    left: 45.2%;
    width: 9.5%;
    height: 23.7%;
    background: red;
    opacity: 0;
}

.sec7 .sns_link4 {
    position: absolute;
    top: 51.8%;
    left: 57%;
    width: 9.5%;
    height: 23.7%;
    background: red;
    opacity: 0;
}
.sec7 .sns_link5 {
    position: absolute;
    top: 51.8%;
    left: 68.2%;
    width: 10.5%;
    height: 23.7%;
    background: red;
    opacity: 0;
}

.sec7 .copy-btn {
	position: absolute;
	top: 82.5%;
    left: 35.9%;
    width: 10.6%;
    height: 5.3%;
    opacity: 0;
    background: red;
	overflow: hidden;
}

/*소문내기 등록*/

.sec8 .linkform {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    padding: 0 30px;

}

.sec8 .linkform .inner {
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    padding-bottom: 0;
    border-radius: 50px;
    border: 3px solid #222;
}

.sec8 .linkform input::placeholder {
    font-size: 2.0rem;
    font-weight: 300;
    color: #454545;
}

.sec8 .linkform input[type="text"] {
    width: 77%;
    border: none;
    height: 70px;
    line-height: 78px;
    padding: 0 50px;
    font-size: 2.9rem;
    color: #666666;
    background: #fff;
    /* border: 1px solid #222; */
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.sec8 .linkform input[type="button"] {
    width: 23%;
    padding-left: 15px;
    border: none;
    background: none;
    height: 70px;
    line-height: 75px;
    font-family: 'GmarketSansMedium';
    font-size: 2.0rem;
    color: #222;
    font-weight: 500;
    background-color: #f7e86b;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sec10.bbs_wrap .inner {
    background: url(../images/passout_10.jpg) repeat-y ;
    /* padding-bottom: 80px; */
}

.sec10 .pr_board_area{
    position: static;
    margin: auto;
    width:84.4%;
    height: auto;
    background: #fff;
    padding-bottom: 40px;
}

.sec10 .bbs {
    margin-top: 0;
}

#sub .bbs_wrap .bbs table.list {
    margin: auto;
    width: 97%;
    table-layout: fixed
}

#sub .bbs_wrap .bbs .list_bg {
    padding: 30px 40px 0;
    /* background: #fff; */
    height: auto;
}

#sub .bbs_wrap .bbs .list {
    background: #fff;
    padding: 20px;
}

#sub .bbs_wrap .bbs .list thead {
    border-top: none;
    border-bottom: 2px solid #000;
}

#sub .bbs_wrap .bbs .list thead th {
    color: #000
}

#sub .bbs_wrap .bbs .list tbody td.title {
    display: block;
    padding-left: 0;
    margin-left: 0;
}


#sub .bbs_wrap .bbs .list tbody td.date::after {
    display: none;
}

#sub .bbs_wrap .bbs .pagenate {
    margin: 0 auto 0;
    padding: 40px 0;
    /* background: #f1f1f1; */
}

.pagenate li a {
    color: #222;
}

.pagenate li a:hover {
    background: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
}

.pagenate li a.current {
    color: #fff;
    background-color: #222;
    font-weight: 500;
    border: 1px solid #fff;
}

/*sec11 유의사항*/
.sec11 .inner {
    padding: 50px 100px;
}


.sec11 .noticeList {

    margin: auto;
    padding: 40px 130px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.sec11 .noticeList > li {

}
.sec11 .noticeList > li:first-child {
    margin-top: 0;
}
.sec11 .noticeList li {
    line-height: 1.6;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.sec11 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.sec11 .noticeList li.xi-icon::before{
    content: "ㆍ";
    position: absolute;
    top: -3px;
    left: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.sec11 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;

}

.sec11 .noticeList .cont_d {
    padding-left: 15px;
}

/*sec12 유의사항*/
.sec12 .inner {
    padding: 50px 100px;
}


.sec12 .noticeList {

    margin: auto;
    padding: 40px 130px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.sec12 .noticeList > li {

}
.sec12 .noticeList > li:first-child {
    margin-top: 0;
}
.sec12 .noticeList li {
    line-height: 1.6;
    color: #343434;
    font-size: 15px;
    font-weight: 500;

}

.sec12 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.sec12 .noticeList li.xi-icon::before{
    content: "※";
    position: absolute;
    top: -3px;
    left: 0;
    color: #343434;
    font-size: 18px;
    font-weight: 600;
}

.sec12 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;

}

.sec12 .noticeList .cont_d {
    padding-left: 15px;
}




.float_wrap {
    position: fixed;
    right: 55px;
    top: 28%;
    z-index: 50;
    padding-top: 20px;
    z-index: 99999;
}

.float_wrap .banner {
    position: relative;
}

@media screen and (max-width: 1300px){

    .sec3 .slide_area {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
        /* border: 1px solid red; */
    }

    .sec4 .txt {
        left: 3.5%;
        font-size: 1vw;
    }
    .sec10.bbs_wrap .inner {
        background: none;
    }
    .sec10 .pr_board_area {
        width: 90.2%;
    }
}

@media screen and (max-width: 1200px){
    .sec4 .day_wrap p .count {
        bottom: 9%;
        font-size: 2.5000vw;
    }
}


@media screen and (max-width: 768px){
    .event-view .mo-img {
        display: block;
    }
    .event-view .pc-img {
        display: none !important;
    }

    .sec2 .video_area1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 73%;
        height: 33.1%;

    }

    .sec2 .video.m1 {
        top: 69.2%;
        left: 4.4%;
        width: 45%;
        height: 20.8%;
    }

    .sec2 .video.m2 {
        top: 69.2%;
        left: 50.7%;
        width: 45%;
        height: 20.8%;
    }

    /*slide*/
    .sec3 .slide_area {
        position: absolute;
        top: 65.5%;
        left: 51%;
        transform: translateX(-50%);
        width: 89%;
        height: auto;
        /* border: 1px solid red; */
    }

    .sec3 .tbook_swiper-container .swiper-button-next {

        right: -40px;
        background: url(../images/arrow-next_bk.png) no-repeat;
    }
    
    .sec3 .tbook_swiper-container .swiper-button-prev {

        left: -40px;
        background: url(../images/arrow-prev_bk.png) no-repeat;
    }

    .sec4 .day_wrap {
        position: absolute;
        width: 15.7%;
        height: 9%;
        /* border: 1px solid #000; */
        text-align: left;
        border-radius: 10px;
    }

    .sec4 .day_wrap.timeOver::before {
        border-radius: 2px;
    }

    .sec4 .day_wrap p .count {
        bottom: 11%;
        font-size: 2.5000vw;
    }


    .sec4 .day_wrap.day1 {
        top: 54.3%;
        left: 6.4%;
    }

    .sec4 .day_wrap.day2 {
        top: 54.3%;
        left: 24.3%;
    }

    .sec4 .day_wrap.day3 {
        top: 54.3%;
        left: 42.3%;
    }

    .sec4 .day_wrap.day4 {
        top: 54.3%;
        left: 60.2%;
    }

    .sec4 .day_wrap.day5 {
        top: 54.3%;
        left: 78.2%;
    }

    .sec4 .day_wrap.day6 {
        top: 64.6%;
        left: 6.4%;
    }

    .sec4 .day_wrap.day7 {
        top: 64.6%;
        left: 24.3%;
    }

    .sec4 .day_wrap.day8 {
        top: 64.6%;
        left: 42.3%;
    }

    .sec4 .day_wrap.day9 {
        top: 64.6%;
        left: 60.2%;
    }

    .sec4 .day_wrap.day10 {
        top: 64.6%;
        left: 78.2%;
    }

    .sec4 .day_wrap.timeOver::after {      
        background-size: 82%;
    }

    .sec4 .link1 {
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translateX(-50%);
        width: 54%;
        height: 6.5%;
    }

    .sec4 .txt {
        position: absolute;
        top: 83.6%;
        left: 0.5%;
        width: 60%;
        height: 6.5%;
        color: #343434;
        font-size: 1.4323vw;
        letter-spacing: -1px;
        white-space: pre;
    }

    .sec5 .link1 {
        position: absolute;
        top: 58%;
        left: 13%;
        width: 48%;
        height: 23.5%;
    }

    .sec7 .event_link1 {
        position: absolute;
        top: 20.4%;
        left: 6.3%;
        width: 43.1%;
        height: 10.2%;
    }

    .sec7 .event_link2 {
        position: absolute;
        top: 20.4%;
        left: 50.5%;
        width: 43.1%;
        height: 10.2%;
    }

    .sec7 .sns_link1 {
        position: absolute;
        top: 51.8%;
        left: 6.7%;
        width: 17.1%;
        height: 26.7%;
    }

    .sec7 .sns_link2 {
        position: absolute;
        top: 51.8%;
        left: 24.7%;
        width: 16.1%;
        height: 26.7%;
    }

    .sec7 .sns_link3 {
        position: absolute;
        top: 51.8%;
        left: 42.2%;
        width: 16.1%;
        height: 26.7%;
    }

    .sec7 .sns_link4 {
        position: absolute;
        top: 51.8%;
        left: 59%;
        width: 16.1%;
        height: 26.7%;
    }

    .sec7 .sns_link5 {
        position: absolute;
        top: 51.8%;
        left: 76.2%;
        width: 16.1%;
        height: 26.7%;
    }

    .sec7 .copy-btn {
        position: absolute;
        top: 83.5%;
        left: 29.9%;
        width: 14.6%;
        height: 5.3%;
        overflow: hidden;
    }
    
    .sec8 .linkform {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
        width: 88%;
        padding: 0 3.9063vw;
    }

    .sec8 .linkform input::placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #454545;
    }
    .sec8 .linkform input[type="text"] {
        width: 77%;
        border: none;
        height: 9.1146vw;
        line-height: 10.1563vw;
        padding: 0 6.5104vw;
        font-size: 1.4rem;
        color: #666666;
        background: #fff;
        /* border: 1px solid #222; */
        box-sizing: border-box;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }
    .sec8 .linkform input[type="button"] {
        width: 23%;
        padding-left: 1.9531vw;
        border: none;
        background: none;
        height: 9.1146vw;
        line-height: 9.7656vw;
        font-family: 'GmarketSansMedium';
        font-size: 1.5rem;
        color: #222;
        font-weight: 500;
        background-color: #f7e86b;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .event-view .sec10 {
        padding-bottom: 80px;
    }

    #sub .bbs_wrap .bbs .list_bg {
        padding: 5.2083vw 5.2083vw 0;
        /* background: #fff; */
        height: auto;
    }

    .sec10 .pr_board_area {
        position: static;
        margin: auto;
        width: 95%;
        height: auto;
        background: #fff;
        padding-bottom: 0;
    }



    .sec11 .inner {
        width: 100%;
        padding: 6.5104vw 5.2083vw;
    }

    .sec11 .noticeList {
        margin: auto;
        padding: 2.6042vw;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .sec11 .noticeList li {
        line-height: 1.6;
        font-size: 1.9531vw;
    }

    .sec11 .noticeList li.xi-icon {
        padding-left: 2.6042vw;
    }
    .sec11 .noticeList li.xi-icon::before{
        content: "ㆍ";
        top: -0.3906vw;
        left: 0;
        font-size: 2.3438vw;
    }

    .sec11 .noticeList li .s_tit {
        font-size: 3.3854vw;
    }

    .sec11 .noticeList .cont_d {
        padding-left: 1.9531vw;
    }

    
    .sec12 .inner {
        width: 100%;
        padding: 6.5104vw 5.2083vw;
        margin-bottom: 100px;
    }

    .sec12 .noticeList {
        margin: auto;
        padding: 2.6042vw;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .sec12 .noticeList li {
        line-height: 1.6;
        font-size: 1.9531vw;
    }

    .sec12 .noticeList li.xi-icon {
        padding-left: 2.6042vw;
    }
    .sec12 .noticeList li.xi-icon::before{
        content: "※";
        top: -0.3906vw;
        left: 0;
        font-size: 2.3438vw;
    }

    .sec12 .noticeList li .s_tit {
        font-size: 3.3854vw;
    }

    .sec12 .noticeList .cont_d {
        padding-left: 1.9531vw;
    }

    .float_wrap {
        display: none;
    }


}

@media screen and (max-width: 480px){
    .sec3 .tbook_swiper-container .swiper-button-prev{
        left: -20px;
        width: 30px;
        height: 30px;
        background-size:50%  ;
    }
    .sec3 .tbook_swiper-container .swiper-button-next{
        right: -12px;
        width: 30px;
        height: 30px;
        background-size:50%  ;
        background-position: right;
    }

    .sec4 .txt {
        top: 81.6%;        
        left: 50%;        
        transform: translateX(-50%);
        width: 90%;
        font-size: 1.8323vw;
        white-space: pre-line;
        letter-spacing :-.5px
        /* border: 1px solid #000; */
    }

    .sec8 .linkform input[type="text"]{
        padding: 0 3.5104vw;
    }

    .sec8 .linkform input::placeholder {
        font-size: 1.1rem;
        font-weight: 300;
        color: #454545;
    }

    .bbs .list tbody td.title {
        width: calc(100% - 30px);
    }
}
