.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .section1 {background: url('../images/firstserved_bg_01.jpg') center no-repeat;}
.event-view .section2 {background:#ff973a;}
.event-view .section3 {background:#202020;}

.event-view .section4,
.event-view .section5,
.event-view .section6 {background:#ff973a;}

.event-view .section7,
.event-view .section8,
.event-view .section9,
.event-view .section10,
.event-view .section11 {background:#d0e3ff;}

.event-view .section12 {
    background: linear-gradient(#ffffff, #f9fcff);
}

.event-view .section13 {
    background: linear-gradient(#f8fcff, #f2f9ff);
}

.event-view .section14 {
    background: linear-gradient(#f2f9ff, #f0f8ff);
}

.event-view .section15 {background:#202020;}

@keyframes slide-cl {
    0% {
        transform:translateY(0) translateX(0);
    }
    100% {
        transform:translateY(20px) translateX(20px);
    }
}

/* section1 */
.section1 .link1 {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    width: 54%;
    height: 7%;
    background: red;
    opacity: 0;    
}
.section1 .click_cursor {
    position: absolute;
    top: 75%;
    left: 62%;
    animation: slide-cl 0.4s linear infinite alternate backwards;
}



/* section2 */

.section2 .heartbeat_motion{
    position: absolute;
    top: 54.7%;
    left: 63.2%;
    width: 16.5%;
    filter: drop-shadow(8px 6px 8px rgba(0, 0, 0, 0.5));
    animation: heartbeat 1.5s ease-in-out infinite both;

}

  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* section4 */
.section4 .video_area1 {
    position: absolute;
    top: 20.4%;
    left: 10%;
    width: 31.2%;
    height: 47%;
    border: 1px solid #454449;
}
.section4 .link1 {
    position: absolute;
    top: 79%;
    left: 8%;
    width: 35%;
    height: 15%;
    background: red;
    opacity: 0;    
}

/* section6 */
.section6 .link1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 62%;
    height: 40%;
    background: red;
    opacity: 0;    
}
.section6 .click_cursor {
    position: absolute;
    top: 25%;
    left: 61%;
    animation: slide-cl 0.4s linear infinite alternate backwards;
}

/*section8 소문내기 SNS링크*/
.section8 .event_link1 {
    position: absolute;
    top: 20%;
    left: 19.3%;
    width: 30.1%;
    height: 10.2%;
    background: red;
    opacity: 0;
}

.section8 .event_link2 {
    position: absolute;
    top: 20%;
    left: 50.5%;
    width: 30.1%;
    height: 10.2%;
    background: red;
    opacity: 0;
}



.section8 .sns_link1 {
    position: absolute;
    top: 52.8%;
    left: 33%;
    width: 10.1%;
    height: 21.7%;
    background: red;
    opacity: 0;
}

.section8 .sns_link2 {
    position: absolute;
    top: 52.8%;
    left: 45%;
    width: 10.1%;
    height: 21.7%;
    background: red;
    opacity: 0;
}

.section8 .sns_link3 {
    position: absolute;
    top: 52.8%;
    left: 56.5%;
    width: 10.1%;
    height: 21.7%;
    background: red;
    opacity: 0;
}

.section8 .copy-btn {
	position: absolute;
    top: 81.3%;
    left: 34.9%;
    width: 10.6%;
    height: 5.3%;
    opacity: 0;
    background: red;
	overflow: hidden;
}

/* section9 */
.section9 .linkform {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    border: 2px solid #000;
    border-radius: 50px;
    overflow: hidden;
    /* padding: 0 30px; */
}

.section9 .linkform .inner {
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    padding-bottom: 0;    
}

.section9 .linkform input::placeholder {
    font-size: 24px;
    font-weight: 300;
    color: #000;
}

.section9 .linkform input[type="text"] {
    width: 77%;
    border: none;
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
    font-size: 24px;
    color: #666;
    background: #fff;
    box-sizing: border-box;
}

.section9 .linkform input[type="button"] {
    width: 23%;
    padding-left: 15px;
    border: none;
    height: 80px;
    line-height: 80px;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    color: #000;
    font-weight: 700;
    background: #f7e86b;
}

/* section11 */
/*리스트*/
.event-view .section11 {
    padding-bottom: 150px;
}

.section11.bbs_wrap .inner {

    padding-bottom: 0;
    background: url(../images/firstserved_11.jpg) repeat-y;
    background-size: 100%;
}

.section11 .pr_board_area{
    position: static;
    margin: auto;
    width: 65%;
    height: auto;
    background: #fff;
    padding-bottom: 40px;
}

.section11 .bbs {
    margin-top: 0;
}

#sub .bbs_wrap .bbs table.list {
    margin: auto;
    width: 97%;
    table-layout: fixed
}

#sub .bbs_wrap .bbs .list_bg {
    padding: 0;
    /* background: #fff; */
    height: auto;
}

#sub .bbs_wrap .bbs .list {
    background: #fff;
    padding: 20px;
}

#sub .bbs_wrap .bbs .list thead {
    border-top: none;
    border-bottom: 2px solid #000;
}

#sub .bbs_wrap .bbs .list thead th {
    color: #000
}

#sub .bbs_wrap .bbs .list tbody td.title {
    display: block;
    padding-left: 0;
    margin-left: 0;
}


#sub .bbs_wrap .bbs .list tbody td.date::after {
    display: none;
}

#sub .bbs_wrap .bbs .pagenate {
    margin: 0 auto 0;
    padding: 40px 0;
    /* background: #f1f1f1; */
}

.pagenate li a {
    color: #222;
}

.pagenate li a:hover {
    background: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
}

.pagenate li a.current {
    color: #fff;
    background-color: #222;
    font-weight: 500;
    border: 1px solid #fff;
}


/* section13 */
.section13 .flowSlide_area {
    width: 100%;
    height: 73%;
    overflow: hidden;
}

.section13 .swiper {
    height: 100%;
    overflow: hidden;
}

.section13 .swiper .swiper-wrapper {
    transition-timing-function: linear;
    padding: 30px 0;
}

.section13 .swiper .swiper-wrapper .swiper-slide {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* section14 */
.section14 .link1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 33%;
    background: red;
    opacity: 0;    
}

/*section15 유의사항*/
.section15 .inner {
    padding: 50px 60px;
}


.section15 .noticeList {
    margin: auto;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #333;
}

.section15 .noticeList > li:first-child {
    margin-top: 0;
}

.section15 .noticeList li {
    line-height: 1.6;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.section15 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.section15 .noticeList li.xi-icon::before{
    content: "-";
    position: absolute;
    top: -3px;
    left: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.section15 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;
}

.section15 .noticeList li .s_tit b {
    color: yellow;
}

.section15 .noticeList .cont_d {
    padding-left: 15px;
}

.section15 .noticeList .grade {
    color: rgba(255, 255, 255, 0.6);
}
.section15 .member_btn {
    padding: 2px 8px;
    color: #4a4a4a ;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    background: #f2f2f2 ;
}

@media screen and (max-width: 1280px){ 

    /* section9 */
    .section9 .linkform {
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translateX(-50%);
        width: 66%;
        border: 0.1563vw solid #000;
        border-radius: 3.9063vw;
        overflow: hidden;
        /* padding: 0 2.3438vw; */
    }

    .section9 .linkform .inner {
        box-sizing: border-box;
        position: relative;
        font-size: 0;
        padding-bottom: 0;    
    }

    .section9 .linkform input::placeholder {
        font-size: 1.8750vw;
        font-weight: 300;
        color: #000;
    }

    .section9 .linkform input[type="text"] {
        width: 77%;
        border: none;
        height: 6.2500vw;
        line-height: 6.2500vw;
        padding: 0 3.9063vw;
        font-size: 1.8750vw;
        color: #666;
        background: #fff;
        box-sizing: border-box;
    }

    .section9 .linkform input[type="button"] {
        width: 23%;
        padding-left: 1.1719vw;
        border: none;
        height: 6.2500vw;
        line-height: 6.2500vw;
        font-family: 'GmarketSansMedium';
        font-size: 1.8750vw;
        color: #000;
        font-weight: 700;
        background: #f7e86b;
    }

    /* section11 */
    /*리스트*/
    .event-view .section11 {
        padding-bottom: 11.7188vw;
    }

    .section11.bbs_wrap .inner {

        padding-bottom: 0;
        background: url(../images/firstserved_11.jpg) repeat-y;
        background-size: 100%;
    }

    .section11 .pr_board_area{
        position: static;
        margin: auto;
        width: 65%;
        height: auto;
        background: #fff;
        padding-bottom: 3.1250vw;
    }

}

@media screen and (max-width: 768px){
    .event-view .mo-img {
        display: block;
    }

    .event-view .pc-img {
        display: none !important;
    }

    .section1 .link1 {
        position: absolute;
        top: 71%;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        height: 9%;
    }

    .section1 .click_cursor {
        position: absolute;
        top: 75%;
        left: 63%;
        width: 10%;
      
    }

    .section2 .heartbeat_motion {
        top: 58.7%;
        left: 64.2%;
        width: 21.5%; 
    }

    .section4 .video_area1 {
        position: absolute;
        top: 12%;
        left: 23.7%;
        width: 52.2%;
        height: 35%;
    }
    .section4 .link1 {
        display: none;
    }
    
    .section6 .link1 {
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translateX(-50%);
        width: 91%;
        height: 55%;
    }

    .section6 .click_cursor {
        position: absolute;
        width: 10%;
        top: 39%;
        left: 68%;       
    }

    .section8 .event_link1 {
        position: absolute;
        top: 20%;
        left: 5.3%;
        width: 44.1%;
        height: 11.2%;        
    }

    .section8 .event_link2 {
        position: absolute;
        top: 20%;
        left: 50.5%;
        width: 44.1%;
        height: 11.2%;     
    }

    .section8 .sns_link1 {
        position: absolute;
        top: 52.8%;
        left: 22%;
        width: 16.1%;
        height: 25.7%;
    }

    .section8 .sns_link2 {
        position: absolute;
        top: 52.8%;
        left: 41%;
        width: 16.1%;
        height: 25.7%;      
    }
    
    .section8 .sns_link3 {
        position: absolute;
        top: 52.8%;
        left: 62%;
        width: 16.1%;
        height: 25.7%;
    }
    
    .section8 .copy-btn {
        position: absolute;
        top: 82.3%;
        left: 32.9%;
        width: 14.6%;
        height: 5.3%;
    }

    /* section9 */
    .section9 .linkform {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        border: 0.2604vw solid #000;
        border-radius: 6.5104vw;
        overflow: hidden;
        /* padding: 0 3.9063vw; */
    }

    .section9 .linkform .inner {
        box-sizing: border-box;
        position: relative;
        font-size: 0;
        padding-bottom: 0;    
    }

    .section9 .linkform input::placeholder {
        font-size: 2.3438vw;
        font-weight: 300;
        color: #000;
    }

    .section9 .linkform input[type="text"] {
        width: 77%;
        border: none;
        height: 7.8125vw;
        line-height: 7.8125vw;
        padding: 0 2.6042vw;
        font-size: 3.1250vw;
        color: #666;
        background: #fff;
        box-sizing: border-box;
    }

    .section9 .linkform input[type="button"] {
        width: 23%;
        padding-left: 0;
        border: none;
        height: 7.8125vw;
        line-height: 7.8125vw;
        font-family: 'GmarketSansMedium';
        font-size: 2.6042vw;
        color: #000;
        font-weight: 700;
        background: #f7e86b;
    }

    .event-view .section11 {
        padding-bottom: 11.7188vw;
    }
    
    .section11.bbs_wrap .inner {
    
        padding-bottom: 0;
        background:none;
        background-size: 100%;
    }
    
    .section11 .pr_board_area{
        position: static;
        margin: auto;
        width: 94.8%;
        height: auto;
        background: #fff;
        padding-bottom: 5.2083vw;
    }

    #sub .bbs_wrap .bbs table.list {       
        width: 90%;
    }

    .section14 .link1 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 91%;
        height: 41%;
    }

    /*section15 유의사항*/
    .section15 .inner {
        padding: 6.5104vw 7.8125vw;
    }

    .section15 .noticeList {
        margin: auto;
        padding: 5.2083vw;
        border: 0.1302vw solid rgba(255, 255, 255, 0.2);
        background: #333;
    }

    .section15 .noticeList > li:first-child {
        margin-top: 0;
    }

    .section15 .noticeList li {
        line-height: 1.6;
        color: #fff;
        font-size: 1.9531vw;
        font-weight: 400;
    }

    .section15 .noticeList li.xi-icon {
        position: relative;
        padding-left: 2.6042vw;
    }
    .section15 .noticeList li.xi-icon::before{
        content: "-";
        position: absolute;
        top: -0.3906vw;
        left: 0;
        color: #fff;
        font-size: 2.3438vw;
        font-weight: 600;
    }

    .section15 .noticeList li .s_tit {
        font-size: 3.3854vw;
        font-weight: 700;
    }

    .section15 .noticeList li .s_tit b {
        color: yellow;
    }

    .section15 .noticeList .cont_d {
        padding-left: 1.9531vw;
    }

    .section15 .noticeList .grade {
        color: rgba(255, 255, 255, 0.6);
    }
    .section15 .member_btn {
        padding: 0.2604vw 1.0417vw;
        color: #4a4a4a ;
        font-size: 1.5625vw;
        font-weight: bold;
        border: 0.1302vw solid #cfcfcf;
        border-radius: 0.3906vw;
        background: #f2f2f2 ;
    }
    
}
