.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .section1 {
    background: url('../images/workskill_bg_01.jpg') center no-repeat;
}
.event-view .section2 {
    background: #0a1a3c;
}
.event-view .section3 {
    background: #d6d4df;
}
.event-view .section4 {
    background: #fdfdfd;
}
.event-view .section5 {
    background: #233a86;
}
.event-view .section6 {
    background: url('../images/workskill_bg_06.jpg') center no-repeat;
}
.event-view .section7,
.event-view .section8,
.event-view .section9,
.event-view .section10 {
    background: #ccbfae;
}
.event-view .section11 {
    background: #333;
}

/*section4*/
.section4 .videa_area1 {
    position: absolute;
    top: 46.7%;
    left: 28.5%;
    width: 61.7%;
    height: 38.5%;
    /* border: 1px solid #000; */
    cursor: pointer;

}

.section4 .t-img {
    position: absolute;
    top: 16%;
    left: -2.7%;
    width: 37%;
    height: 84.5%;
    /* border: 1px solid #000; */
}

/*section5*/
.num_area {
	position: absolute;
	top: 18.2%;
	left: 0;
	width: 100%;


}
.num-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    font-size:98px;
    font-weight: 700;


}
.pleft {
	position: absolute;
	top: 0;
	left: 20%;
}
.pright {
	position: absolute;
	top: 0;
	right: 26.8%;
}
.num-item {
	text-align: right;
	padding: 10px;
	margin-bottom: 30px;
}
.nums {
    letter-spacing: -7px;
	color: #ffff0f;
}

.section5 .link1 {
    position: absolute;
	top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 54%;
    height: 7%;
	background: red;
	opacity: 0;
}

/*section6*/
.section6 .link1 {
    position: absolute;
    top: 81%;
    left: 8%;
    width: 27%;
    height: 11%;
	background: red;
	opacity: 0;
}

.section6 .link2 {
    position: absolute;
	top: 81%;
    left: 37%;
    width: 27%;
    height: 11%;
	background: red;
	opacity: 0;
}

.section6 .link3 {
    position: absolute;
	top: 81%;
    left: 65%;
    width: 27%;
    height: 11%;
	background: red;
	opacity: 0;
}

/*section8 응원하기 작성*/


.section8 .linkform {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 71%;
    padding: 0 30px;

}

.section8 .linkform .inner {
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    padding-bottom: 0;
    /* border-radius: 50px; */
    border: 2px solid #da4e41;
}

.section8 .linkform input::placeholder {
    font-size: 2.0rem;
    font-weight: 300;
    color: #454545;
}

.section8 .linkform input[type="text"] {
    width: 77%;
    border: none;
    height: 70px;
    line-height: 78px;
    padding: 0 50px;
    font-size: 2.9rem;
    color: #666666;
    background: #fff;
    /* border: 1px solid #222; */
    box-sizing: border-box;
    /* border-bottom-left-radius: 50px;
    border-top-left-radius: 50px; */
}

.section8 .linkform input[type="button"] {
    width: 23%;
    padding-left: 15px;
    border: none;
    background: none;
    height: 70px;
    line-height: 75px;
    font-family: 'GmarketSansMedium';
    font-size: 2.0rem;
    color: #fff;
    font-weight: 500;
    background-color: #da4e41;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
}

/*리스트*/

.section10.bbs_wrap .inner {
    /* background: url(../img/maritime_12.jpg) repeat-y ; */
    padding-bottom: 80px;
}

.section10 .pr_board_area{
    position: static;
    margin: auto;
    width: 90%;
    height: auto;
    background: #fff;
    padding-bottom: 40px;
}

.section10 .bbs {
    margin-top: 0;
}

#sub .bbs_wrap .bbs table.list {
    margin: auto;
    width: 97%;
    table-layout: fixed
}

#sub .bbs_wrap .bbs .list_bg {
    padding: 30px 80px 0;
    /* background: #fff; */
    height: auto;
}

#sub .bbs_wrap .bbs .list {
    background: #fff;
    padding: 20px;
}

#sub .bbs_wrap .bbs .list thead {
    border-top: none;
    border-bottom: 2px solid #000;
}

#sub .bbs_wrap .bbs .list thead th {
    color: #000
}

#sub .bbs_wrap .bbs .list tbody td.title {
    display: block;
    padding-left: 0;
    margin-left: 0;
}


#sub .bbs_wrap .bbs .list tbody td.date::after {
    display: none;
}

#sub .bbs_wrap .bbs .pagenate {
    margin: 0 auto 0;
    padding: 40px 0;
    /* background: #f1f1f1; */
}

.pagenate li a {
    color: #222;
}

.pagenate li a:hover {
    background: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
}

.pagenate li a.current {
    color: #fff;
    background-color: #222;
    font-weight: 500;
    border: 1px solid #fff;
}


/*section11 유의사항*/
.section11 .inner {
    padding: 50px 60px;
}


.section11 .noticeList {

    margin: auto;
    padding: 40px 130px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #333;

}
.section11 .noticeList > li {

}
.section11 .noticeList > li:first-child {
    margin-top: 0;
}
.section11 .noticeList li {
    line-height: 1.6;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.section11 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.section11 .noticeList li.xi-icon::before{
    content: "\e929";
    position: absolute;
    top: -3px;
    left: 0;
    color: #d74d42;
    font-size: 18px;
    font-weight: 600;
}

.section11 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;
}

.section11 .noticeList .cont_d {
    padding-left: 15px;
}

.section11 .noticeList .grade {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1280px) {


}



@media screen and (max-width: 768px) {

    .event-view .mo-img {
        display: block;
    }

    .event-view .pc-img {
        display: none !important;
    }
}