.noticeLayerPop {
    margin: 0 auto;
    max-width: 800px;
}
.noticeLayerPop {
    display: none;
}
.noticeLayerPop:before {
    display: block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.noticeLayerPop .layerBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    background: #fff;
    border: 4px solid #242d70;
    border-radius: 30px ;
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, .1);
}
.noticeLayerPop .layerBox .cont {
    position: relative;
    padding: 60px;
}

.noticeLayerPop .layerBox .iconClose {
   position: absolute;
   top: 10px;
   right: 20px;;
    width: 35px;
    height: 35px;
    color: #000;
    font-size: 36px;
    line-height: 1;   
    cursor: pointer;   
}

.noticeLayerPop .layerBox .iconClose.xi-icon::before {
    content: '\e9af';
}

.noticeLayerPop .layerBox .title_area {   
    margin: auto;
    width: 100%;
    padding-bottom: 40px ;
    color: #242d70;
    background: #fff;
    text-align: center; 
}       

.noticeLayerPop .layerBox .title_area span {
    position: relative;  
    display: inline-block;
    width: 400px;
    height: 40px;
    color: #242d70;
    font-size: 30px;
    font-weight: 900;   
}  
.noticeLayerPop .layerBox .title_area span::before {
    position: absolute;
    content:attr(data-title);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}     

.noticeLayerPop .layerBox .title_area span::after {
    position: absolute;
    content:'';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #ffb400;   
    z-index:0 ;
}     

.noticeLayerPop .layerBox .notice_disc ul {
    color: #000;
}

.noticeLayerPop .layerBox .notice_disc .price_noti {
    color: #252c70;
    font-size: 20px;
    font-weight: 700 ;
    border-bottom: 1px solid #bdbdbd;
}

.noticeLayerPop .layerBox .notice_disc .price_noti ul li {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.3;
}


.noticeLayerPop .layerBox .notice_disc .mock_noti {
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 15px;
    margin-left: 15px;

}

.noticeLayerPop .layerBox .notice_disc .mock_noti::before {
    position: absolute;
    content: '';
    top:7px;
    left:-15px;
    width: 6px;
    height: 6px;
    background: #252c70;
    border-radius: 10px;
}

.noticeLayerPop .layerBox .title_area.match span::after {
   display: none;
}  



@media screen and (max-width: 768px) {



.noticeLayerPop {
    margin: 0 auto;
    max-width: 104.1667vw;
}


.noticeLayerPop .layerBox {          
    width: 96%;         
}

.noticeLayerPop .layerBox .cont {
    position: relative;
    padding: 7.8125vw;
}

.noticeLayerPop .layerBox .iconClose {
   position: absolute;
   top: 4.3021vw;
   right: 5.6042vw;;
    width: 4.5573vw;
    height: 4.5573vw;
    color: #000;
    font-size: 4.6875vw;
    line-height: 1;   
    cursor: pointer;   
}

.noticeLayerPop .layerBox .iconClose.xi-icon::before {
    content: '\e9af';
}

.noticeLayerPop .layerBox .title_area {   
    margin: auto;
    width: 100%;
    padding-bottom: 5.2083vw ;
    color: #242d70;
    background: #fff;
    text-align: center; 
}       

.noticeLayerPop .layerBox .title_area span {
    position: relative;  
    display: inline-block;
    width: 52.0833vw;
    height: 5.2083vw;
    color: #242d70;
    font-size: 3.9063vw;
    font-weight: 900;   
}  
.noticeLayerPop .layerBox .title_area span::before {
    position: absolute;
    content:attr(data-title);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}     

.noticeLayerPop .layerBox .title_area span::after {
    position: absolute;
    content:'';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3021vw;
    background: #ffb400;   
    z-index:0 ;
}     

.noticeLayerPop .layerBox .notice_disc ul {
    color: #000;
}

.noticeLayerPop .layerBox .notice_disc .price_noti {
    color: #252c70;
    font-size: 2.6042vw;
    font-weight: 700 ;
    border-bottom: 0.1302vw solid #bdbdbd;
}

.noticeLayerPop .layerBox .notice_disc .price_noti ul li {
    font-size: 2.0833vw;
    font-weight: 500;
    margin-bottom: 1.9531vw;
    line-height: 1.3;
}


.noticeLayerPop .layerBox .notice_disc .mock_noti {
    position: relative;
    font-size: 1.8229vw;
    line-height: 1.2;
    margin-top: 1.9531vw;
    margin-left: 1.9531vw;

}

.noticeLayerPop .layerBox .notice_disc .mock_noti::before {
    position: absolute;
    content: '';
    top:0.9115vw;
    left:-1.9531vw;
    width: 0.7813vw;
    height: 0.7813vw;
    background: #252c70;
    border-radius: 1.3021vw;
}

.noticeLayerPop .layerBox .title_area.match span::after {
   display: none;
}  





}