.event-view{
    background: #fff;
}
.event-view{max-width:1920px; margin:0 auto;}
.event-view .sec .inner{max-width:1200px; margin:0 auto; position: relative;}
.event-view img {
    width: 100%;
}
.event-view iframe {
    bordeR:0;
}
.event-view .sec1{background: url('../images/researcher_bg_01.jpg') center no-repeat;}
.event-view .sec2{background: url('../images/researcher_bg_02.jpg') center no-repeat;}
.event-view .sec3{background: url('../images/researcher_bg_03.jpg') center no-repeat;}

.sec3 .link1{
    position:absolute;
    top: 6%;
    left: 16%;
    width: 33%;
    height: 20%;
    color : #fff;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    line-height: 3.8;
    background:#000;
    opacity: 1;
}
.sec3 .link1 em {
    color: #fd91a9;
    font-weight: 600;
}
.sec3 .link2{
    position:absolute;
    top: 6%;
    left: 50.5%;
    width: 33%;
    height: 20%;
    color : #fff;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    line-height: 3.8;
    background:#000;
    opacity: 1;

}
.sec3 .link2 em {
    color: #fff100;
    font-weight: 600;
}

.popup .pop_wrap{min-height:440px;}
.popup .desc_wrap{height:360px;}
.popup .pop_wrap {     left: 50%; margin-left: -500px; width: 100%; max-width: 1000px; height: 440px; margin-top: -270px; }
.popup .desc_wrap .top { background: #f4f6f9;  border-bottom: 2px solid #164194; position: relative;  border-top-right-radius: 30px;  box-sizing: border-box; padding: 20px 30px 20px 30px;font-size: 1.5rem; line-height: 22px; letter-spacing: -0.5px;  color: #10264f;   font-weight: 500}
.popup .desc_wrap .btm > div { padding: 15px 20px 15px 20px; border-bottom: 1px solid rgba(204, 204, 204, 0.5); color: #333 }
.popup .desc_wrap .btm > div:last-child { border-bottom: none; }
.popup .desc_wrap .btm > div > b { width: 170px; float: left;  font-size: 1.5rem;  line-height: 22px;   letter-spacing: -0.5px;  }
.popup .desc_wrap .btm > div > div {  width: calc(100% - 170px);  float: left; }
.popup .desc_wrap .inid{height:40px;padding:8px 10px;border:1px solid #cccccc;line-height:1; max-width:300px;}

.popup .desc_wrap .fileBox_wrap { position:relative; }
.popup .desc_wrap .fileBtn{display:block; width:110px; height:40px; float:left;}
.popup .desc_wrap .fileBox_wrap p.ptxt{clear: both;  display:block; margin-top:10px; color:#164194; font-weight: 400;}
.popup .desc_wrap .fileBox .inputBox{float:left; box-sizing: border-box; }
.popup .desc_wrap .fileBox input[type="text"]{float:left;overflow:hidden;box-sizing:border-box;height:32px;padding:8px 10px;border:1px solid #cccccc;line-height:1;background:#fafafa;  box-sizing: border-box; }
.popup .desc_wrap .fileBox_wrap .inputBox{float:left;width: calc(100% - 170px);  box-sizing: border-box;}

.popup .desc_wrap .fileBox p.ptxt{clear: both;  display:block; margin-top:10px; color:#164194; font-weight: 400;}
.popup .desc_wrap .fileBtn{float:left;margin-left:5px;  box-sizing: border-box;}
.popup .desc_wrap .fileBtn label{display:inline-block;width:150px;font-size:14px;line-height:40px; height:40px; letter-spacing:-1px;color:#f6f6f6;background:#757880;text-align:center; border-radius: 4px;  box-sizing: border-box;}
.popup .desc_wrap .fileBtn input[type="file"]{visibility:hidden;width:0;height:0;padding:0;margin:0;}

.popup .desc_wrap .notice {
    white-space :pre;
}

.popup .btn_box{ text-align: center; margin-top: 10px}
.popup .tit_wrap > p.p2,
.popup .desc_wrap .top.top2 { display: none }
.pop_transfer.type4 .tit_wrap > p,
.pop_transfer.type4 .desc_wrap .top { display: none }
.pop_transfer.type4 .tit_wrap > p.p2,
.pop_transfer.type4 .desc_wrap .top.top2 { display: block }
.float_wrap{position:fixed; right:20px; top:30%; z-index:50; padding-top:20px; z-index:99999;}
.float_wrap .banner{position:relative;}
.float_wrap .f_link1{
    position:absolute;
    top: 2%;
    left: 7%;
    width: 86%;
    height: 96%;
    background:red;
    opacity: 0;
}

.event-view .mo-img {
    display: none;
}


.popup .pop_wrap:not(.popup.pop_note .pop_wrap):not(.popup.pop_profile .pop_wrap):not(.pop_coupon .pop_wrap) {
    margin-top: -270px ;
}

@media screen and (max-width: 1280px){

    .sec3 .link1{
        position:absolute;
        top: 6%;
        left: 16%;
        width: 33%;
        height: 20%;
        color : #fff;
        font-size: 2.0313vw;
        text-align: center;
        font-weight: 600;
        line-height: 3.8;
        background:#000;
        opacity: 1;
    }

    .sec3 .link2{
        position:absolute;
        top: 6%;
        left: 50.5%;
        width: 33%;
        height: 20%;
        color : #fff;
        font-size: 2.0313vw;
        text-align: center;
        font-weight: 600;
        line-height: 3.8;
        background:#000;
        opacity: 1;

    }
    .tabWrap li { float: left; width: 20%; height: 6.25vw; text-align: center; box-sizing: border-box; margin-right: 0;}

}

@media screen and (max-width: 960px){}

@media screen and (max-width: 768px){
    .event-view .mo-img {
        display: block;
    }
    .event-view .pc-img {
        display: none !important;
    }

    .sec3 .link1 {
        position: absolute;
        top: 8%;
        left: 2%;
        width: 47%;
        height: 29%;
        color: #fff;
        font-size: 3.6458vw;
        text-align: center;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 3;
        background: #000;
        opacity: 1;
    }

    .sec3 .link2 {
        position: absolute;
        top: 8%;
        left: 50%;
        width: 47%;
        height: 29%;
        color: #fff;
        font-size: 3.6458vw;
        text-align: center;
        font-weight: 600;
        line-height: 3;
        background: #000;
        opacity: 1;
    }




}
@media screen and (max-width: 720px){}
@media screen and (max-width: 640px){}
@media screen and (max-width: 540px){
    .popup .desc_wrap .top{padding:20px 15px; font-size:1.3rem; line-height: 1.6;}
    .popup .desc_wrap .btm > div {padding: 10px;}
	.popup .desc_wrap .btm > div > b{width:100%; float:none; display: block;}
	.popup .desc_wrap .btm > div > div{width:100%; float:none; display: block;}
	.popup .pop_wrap{height:500px; margin-top:-340px;}
	.popup .desc_wrap{height:610px;}
    .popup:not(.pop_pass):not(.pop_profile) .desc_wrap {
        height: 440px;}
	.popup .desc_wrap .fileBox_wrap .inputBox{width:100%; float:none; display: block;}
	.popup .desc_wrap .fileBtn{margin-left:0;}
}


