.event-view {
    background: #fff;
}

.event-view {
    max-width: 1920px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .sec1 {background: url('../images/newpass_bg_01.jpg') center no-repeat;}
.event-view .sec2 {background: url('../images/newpass_bg_02.jpg') center no-repeat;}
.event-view .sec3 {background: #111419;}
.event-view .sec4 {background: url('../images/newpass_bg_04.jpg') center no-repeat;}

.event-view .sec5,
.event-view .sec5-2,
.event-view .sec6,
.event-view .sec7 {
    background:#f0f0f0 ;
}
.event-view .sec8{background:#3c6bed ;}



/*sec3*/

.sec3 .video_area1 {
    position: absolute;
    top: 33.2%;
    left: 6.5%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}
.sec3 .video_area2 {
    position: absolute;
    top: 33.2%;
    left: 36.9%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}
.sec3 .video_area3 {
    position: absolute;
    top: 33.2%;
    left: 67.4%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}

.sec3 .video_area4 {
    position: absolute;
    top: 63.2%;
    left: 6.5%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}
.sec3 .video_area5 {
    position: absolute;
    top: 63.2%;
    left: 36.9%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}
.sec3 .video_area6 {
    position: absolute;
    top: 63.2%;
    left: 67.4%;
    width: 26.2%;
    height: 15.85%;
    /* border: 1px solid red; */
}


/*체크박스 커스텀 S*/
#sub .sec input[type="checkbox"] {
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 2px solid #2e2e2e;
    box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    outline: 0;
    width: 20px;
}

#sub .sec input[type="checkbox"]::after {
    border: solid #244c9a;
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: 70%;
    left: 30%;
    position: relative;
    top: 5%;
    transform: rotate(45deg);
    width: 50%;
}

#sub .sec input[type="checkbox"]:checked {
    background: #fff;
    border: 2px solid #244c9a;
    box-sizing: border-box;
}

#sub .sec input[type="checkbox"]:checked::after {
    display: block;
}

/****체크박스 커스텀 E ************/

/*라디오버튼 커스텀 S*/
#sub .sec .radio_area input[type="radio"] {
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 2px solid #616161;
    cursor: pointer;
    height: 20px;
    outline: 0;
    width: 20px;
}

#sub .sec .radio_area input[type="radio"]::after {
    border: solid #244c9a;
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: 70%;
    left: 30%;
    position: relative;
    top: 5%;
    transform: rotate(45deg);
    width: 50%;
}

#sub .sec .radio_area input[type="radio"]:checked {
    background: #fff;
    border: 2px solid #244c9a;
}

#sub .sec .radio_area input[type="radio"]:checked::after {
    display: block;
}

#sub .sec .radio_area input[type="radio"] {
    height: 23px;
    width: 23px;
}

/****라디오버튼 커스텀 E ************/

/*sec5*/
.sec5 .radio_area {
    position: absolute;
    width: 10%;
    height: auto;
    /* border: 1px solid #000; */
}

.sec5 .radio_area.posi {
    top: 36.6%;
    left: 67.8%;
}
.sec5 .radio_area.posi div {
    margin-bottom: 24px;
}

/* .sec5 .radio_area.posi div:nth-child(2){
    margin-top: 20px;
} */

.sec5 .radio_area.posi2 {
    top: 86.2%;
    left: 16%;
}
.sec5 .radio_area.posi2 div {
    margin-bottom: 15px;
}

.sec5 .radio_area.posi3 {
    top: 86.2%;
    left: 47.7%;
}
.sec5 .radio_area.posi3 div {
    margin-bottom: 15px;
}

.sec5 .radio_area.posi4 {
    top: 87.8%;
    left: 75.2%;
}

/*동의 신청하기*/
.sec5-2 .agree_area {
    position: absolute;
    top: 15%;
    left: 19.7%;
    width: 10%;
    height: auto;
}

#sub .sec5-2 .agree_area input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border: 1px solid #2e2e2e;
    background: #f0f0f0;
}
.sec5-2 .noticeGo {
    position: absolute;
    top: 12%;
    left: 64%;
    width: 17%;
    height: 17.5%;
    background: red;
    opacity: 0;
  }
.sec5-2 .btn.pass {
    position: absolute;
    top: 49%;
    left: 48.5%;
    transform: translateX(-50%);
    width: 48%;
    height: 102px;
    font-size: 37px;
    line-height: 84px;
    font-weight: 600;
    background: #2b2b2b;
    border-radius: 10px;
    opacity: 1;
    /* border: 1px solid red; */
}


/*sec6*/
.sec6 .radio_area {
    position: absolute;
    width: 10%;
    height: auto;
    /* border: 1px solid #000; */
}

.sec6 .radio_area.posi {
    top: 63.4%;
    left: 66.8%;
}
.sec6 .radio_area.posi div {
    margin-bottom: 26px;
}

/*동의 신청하기*/
.sec7 .agree_area {
    position: absolute;
    top: 11%;
    left: 19.7%;
    width: 10%;
    height: auto;
}

#sub .sec7 .agree_area input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border: 1px solid #2e2e2e;
    background: #f0f0f0;
}
.sec7 .noticeGo {
    position: absolute;
    top: 9%;
    left: 64%;
    width: 17%;
    height: 12.5%;
    background: red;
    opacity: 0;
  }
.sec7 .btn.pass {
    position: absolute;
    top: 36%;
    left: 48.5%;
    transform: translateX(-50%);
    width: 48%;
    height: 102px;
    font-size: 37px;
    line-height: 84px;
    font-weight: 600;
    background: #2b2b2b;
    border-radius: 10px;
    opacity: 1;
    /* border: 1px solid red; */
}

/*sec8*/

.sec8 .link1 {
    position: absolute;
    top: 43%;
    left: 15.5%;
    width: 22%;
    height: 23.5%;
    background: red;
    opacity: 0;
}

.sec8 .link2 {
    position: absolute;
    top: 43%;
    left: 38.7%;
    width: 22%;
    height: 23.5%;
    background: red;
    opacity: 0;
}

.sec8 .link3 {
    position: absolute;
    top: 43%;
    left: 62%;
    width: 22%;
    height: 23.5%;
    background: red;
    opacity: 0;
}

.sec9 .passNotice_area h2 {
    margin-top: 90px;
    padding-left: 80px;
    color: #192436;
    font-size: 28px;

}

/* 탭 전체 스타일 */
.sec9 .passNotice_tabs {
    margin: auto;
    margin-top: 10px;
    padding-bottom: 40px;
    width: 92%;
    opacity: 1;
}

/* 탭 스타일 */
.sec9 .tab_item {
    position: relative;
    width: calc(100%/9);
    background-color: #fff;
    line-height: 2.5;
    font-size: 16px;
    text-align: center;
    color: #77787c;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;

}

.sec9 .tab_item::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 30%;
    background: #77787c;
}

.sec9 .tab_item.lat::after{
    display: none;
}


.sec9 .tab_item:hover {
    opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 탭 컨텐츠 스타일 */
.sec9 .tab_content {
    display: none;
    padding:0;
    clear: both;
    overflow: hidden;
    padding: 40px 40px 40px 30px;
    min-height: 400px;

}

.sec9 .tab_content ul{
    color: #333;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: -1.2px;
    font-weight: 700;
}

.sec9 .tab_content ul li{
    padding: 2px 0;
}

.sec9 .tab_content ul ul {
    font-weight: 400;
    padding-left: 15px;
}

.sec9 .tab_content ul ul li {
    padding: 0;
}

/* 선택 된 탭 콘텐츠를 표시 */
#p1:checked ~ .p1_content,
#p2:checked ~ .p2_content,
#p3:checked ~ .p3_content,
#p4:checked ~ .p4_content,
#p5:checked ~ .p5_content,
#p6:checked ~ .p6_content,
#p7:checked ~ .p7_content,
#p8:checked ~ .p8_content,
#p9:checked ~ .p9_content {
display: block;
}

/* 선택된 탭 스타일 */
.sec9 .passNotice_tabs input:checked + .tab_item {
    color: #101920;
}

.sec9 .tab_content .ps {
    margin-top: 35px;
}


.float_wrap {
    position: fixed;
    font-size: 0;
    right: 20px;
    /* top: 29%; */
    top: 5%;
    width: 170px;
    height: auto;
    z-index: 50;
    padding-top: 20px;
    z-index: 99999;
}


/*팝업*/
.popup .pop_wrap {
    left: 50%;
    margin-left: -500px;
    width: 100%;
    max-width: 1000px;
    height: 640px;
    min-height: 720px;
    margin-top: -370px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.popup .desc_wrap {
    height: 530px;
    overflow-y: scroll;
}

.popup .desc_wrap .top {
    background: #f4f6f9;
    border-bottom: 2px solid #164194;
    position: relative;
    border-top-right-radius: 0;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #10264f;
    font-weight: 500
}

.popup .desc_wrap .btm>div {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    color: #333
}

.popup .desc_wrap .btm>div:last-child {
    border-bottom: none;
}

.popup .desc_wrap .btm>div>b {
    width: 200px;
    float: left;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: -0.5px;
}

.popup .desc_wrap .btm>div>div {
    width: calc(100% - 100px);
    float: left;
}

.popup .desc_wrap .inid {
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    max-width: 300px;
}

.popup .desc_wrap .inid2 {
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    max-width: 100%;
}

.popup .desc_wrap .fileBox_wrap {
    position: relative;
}

.popup .desc_wrap .fileBtn {
    display: block;
    width: 110px;
    height: 40px;
    float: left;
}

.popup .desc_wrap .fileBox_wrap p.ptxt {
    clear: both;
    display: block;
    margin-top: 10px;
    color: #164194;
    font-weight: 400;
}

.popup .desc_wrap .fileBox .inputBox {
    float: left;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox input[type="text"] {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    height: 32px;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    line-height: 1;
    background: #fafafa;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox_wrap .inputBox {
    float: left;
    width: calc(100% - 170px);
    box-sizing: border-box;
}

.popup .desc_wrap .fileBox p.ptxt {
    clear: both;
    display: block;
    margin-top: 10px;
    color: #164194;
    font-weight: 400;
}

.popup .desc_wrap .fileBtn {
    float: left;
    margin-left: 5px;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBtn label {
    display: inline-block;
    width: 150px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    letter-spacing: -1px;
    color: #f6f6f6;
    background: #757880;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup .desc_wrap .fileBtn input[type="file"] {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.popup .desc_wrap .notice {
    white-space: pre;
}

.popup .btn_box {
    text-align: center;
    padding: 20px 0;
    background: #fff;
}

.popup .eventNotice {
    font-size: 13px;
}

.popup .desc_wrap .group {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.popup .desc_wrap .group p {
    font-size: 12px;
    margin: 12px 0 0;
}

.popup .desc_wrap .group+.group {
    border-top: none;
    padding-top: 15px;
}

.popup .desc_wrap .group+.group>strong {
    display: block;
    margin-bottom: 20px;
}

.group .agree1 {
    overflow: hidden;
    overflow-y: scroll;
    height: 100px;
    padding: 20px;
    font-size: 13px;
    border: 1px solid #999;
    margin: 3px 0;
}

@media screen and (max-width: 1280px){

    .sec5 .radio_area.posi div {
        margin-bottom: 1.7188vw;
    }

}
@media screen and (max-width: 1200px){
    #sub .sec .radio_area input[type="radio"] {
        height: 20px;
        width: 20px;
    }

    .sec5 .radio_area.posi2 div {
        margin-bottom: 0.7167vw;
    }

    .sec5 .radio_area.posi3 div {
        margin-bottom: 0.7167vw;
    }


}
@media screen and (max-width: 1040px){

    #sub .sec .radio_area input[type="radio"] {
        height: 1.9231vw;
        width: 1.9231vw;
    }

    .sec5 .radio_area.posi div {
        margin-bottom: 1.4423vw;
    }

    .sec5-2 .agree_area {
        position: absolute;
        top: 13%;
        left: 19.5%;
        width: 10%;
        height: auto;
    }

    #sub .sec5-2 .agree_area input[type="checkbox"] {
        height: 1.9231vw;
        width: 1.9231vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }

    .sec7 .agree_area {
        position: absolute;
        top: 10%;
        left: 19.5%;
        width: 10%;
        height: auto;
    }

    #sub .sec7 .agree_area input[type="checkbox"] {
        height: 1.9231vw;
        width: 1.9231vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }
}
@media screen and (max-width: 960px){

    .sec5 .radio_area.posi {
        top: 36.3%;
        left: 67.8%;
    }

    #sub .sec .radio_area input[type="radio"] {
        height: 1.8750vw;
        width: 1.8750vw;
    }

    .sec5 .radio_area.posi div {
        margin-bottom: 1.0417vw;
    }

    .sec5 .radio_area.posi2 {
        top: 86%;
        left: 16%;
    }

    .sec5 .radio_area.posi3 {
        top: 86%;
        left: 47.7%;
    }

    .sec5 .radio_area.posi2 div {
        margin-bottom: 0.3167vw;
    }

    .sec5 .radio_area.posi3 div {
        margin-bottom: 0.3167vw;
    }



}
@media screen and (max-width: 800px){
    .sec5 .radio_area.posi2 {
        top: 85.5%;
        left: 16%;
    }

    .sec5 .radio_area.posi3 {
        top: 85.5%;
        left: 47.7%;
    }
}

@media screen and (max-width: 768px){
    .event-view .mo-img {
        display: block;
    }
    .event-view .pc-img {
        display: none !important;
    }

    /*모바일 비디오 수강후기 슬라이드*/
    .sec3 .video_slide_area {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 49%;
        overflow: hidden;
        /* border: 1px solid red */
    }

    .sec3 .video_slide_area .swiper-container {
        overflow: hidden;
    }

    .sec3 .video_slide_area .swiper-wrapper {
        transition-timing-function: linear;

    }

    .sec3 .video_slide_area .swiper-slide {
        /* height: auto; */
    }

    .videoThum {
        box-shadow:0 1px 1px #c0c0c0,
        0 2px 0 #a8a7a6,
        0 3px 0 #8b8a89,
        0 4px 0 #7d7b7a,
        0 5px 0 #686766,
        0 6px 3px #5f5e5d;
        border-radius: 10px;
    }
    .videoThum img {
         border-radius: 10px;
    }
    /**/


    /*라디오버튼 커스텀 S */
    #sub .sec .radio_area input[type="radio"] {
        height: 3.6458vw;
        width: 3.6458vw;
    }

    /****라디오버튼 커스텀 E ************/

    /*sec5*/
    .sec5 .radio_area.posi {
        top: 38.9%;
        left: 44%;
    }
    .sec5 .radio_area.posi div {
        margin-bottom: 4.4271vw;
    }

    .sec5 .radio_area.posi2 {
        top: 58.9%;
        left: 54.8%;
    }
    .sec5 .radio_area.posi2 div {
        margin-bottom: 2.3438vw;
    }

    .sec5 .radio_area.posi3 {
        top: 76%;
        left: 54.8%;
    }
    .sec5 .radio_area.posi3 div {
        margin-bottom: 2.3438vw;
    }

    .sec5 .radio_area.posi4 {
        top: 93.8%;
        left: 62.5%;
    }

    #sub .sec5-2 .agree_area input[type="checkbox"] {
        height: 2.6042vw;
        width: 2.6042vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }

    .sec5-2 .agree_area {
        position: absolute;
        top: 6%;
        left: 4.8%;
        width: 10%;
        height: auto;
    }

    .sec5-2 .noticeGo {
        position: absolute;
        top: 6%;
        left: 74%;
        width: 22%;
        height: 12.5%;
    }

    .sec5-2 .btn.pass {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translateX(-50%);
        width: 79%;
        height: 12.3698vw;
        font-size: 4.8177vw;
        line-height: 7.8958vw;
        font-weight: 600;
        background: #2b2b2b;
        border-radius: 1.3021vw;
        opacity: 1;
    }

    .sec6 .radio_area.posi {
        top: 76.2%;
        left: 44%;
    }

    .sec6 .radio_area.posi div {
        margin-bottom: 3.9063vw;
    }

    #sub .sec7 .agree_area input[type="checkbox"] {
        height: 2.6042vw;
        width: 2.6042vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }

    .sec7 .agree_area {
        position: absolute;
        top: 6%;
        left: 4.8%;
        width: 10%;
        height: auto;
    }

    .sec7 .noticeGo {
        position: absolute;
        top: 6%;
        left: 74%;
        width: 23%;
        height: 12.5%;
    }

    .sec7 .btn.pass {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translateX(-50%);
        width: 79%;
        height: 12.3698vw;
        font-size: 4.8177vw;
        line-height: 7.8958vw;
        font-weight: 600;
        background: #2b2b2b;
        border-radius: 1.3021vw;
        opacity: 1;
    }


    .sec8 .link1 {
        position: absolute;
        top: 42%;
        left: 2.5%;
        width: 31%;
        height: 23.5%;
    }

    .sec8 .link2 {
        position: absolute;
        top: 42%;
        left: 34.7%;
        width: 31%;
        height: 23.5%;
    }

    .sec8 .link3 {
        position: absolute;
        top: 42%;
        left: 66.5%;
        width: 31%;
        height: 23.5%;
    }



    .tab_content {
        display: none;
        padding: 0;
        clear: both;
        overflow: hidden;
        padding: 40px 0px 40px 0px;
        min-height: 400px;
    }

    .sec9 .passNotice_area h2 {
        margin-top: 11.7188vw;
        padding-left: 4.4271vw;
        color: #192436;
        font-size: 3.6458vw;
    }

    .sec9 .tab_item {
        position: relative;
        width: calc(100%/9);
        background-color: #fff;
        line-height: 2.5;
        font-size: 1.8229vw;
        text-align: center;
        color: #77787c;
        display: block;
        float: left;
        text-align: center;
        font-weight: bold;
        transition: all 0.2s ease;
    }

    .sec9 .tab_content {
        display: none;
        padding: 0;
        clear: both;
        overflow: hidden;
        padding: 5.2083vw 5.2083vw 5.2083vw 3.9063vw;
        min-height: 52.0833vw;
    }

    .sec9 .tab_content ul {
        color: #333;
        font-size: 1.8229vw;
        line-height: 3.8250vw;
        letter-spacing: -0.1563vw;
        font-weight: 700;
    }

    .float_wrap {
        display: none;
    }


    .pop_wrap {
        left: 0;
        margin-left: 3%;
        width: 94%
    }

    .popup.pop_profile .pop_wrap {
        width: 94%;
        margin: -250px 3% 0 3%;
    }

    .popup.pop_profile .desc_wrap {
        padding: 10px;
    }

    .pop_wrap {
        left: 0;
        margin-left: 3%;
        width: 94%
    }

    .popup.pop_profile .pop_wrap {
        width: 94%;
        margin: -250px 3% 0 3%;
    }

    .popup.pop_profile .desc_wrap {
        padding: 10px;
    }


}

@media screen and (max-width: 600px) {

    .sec5 .radio_area.posi {
        top: 38.8%;
        left: 44%;
    }
}
@media screen and (max-width: 540px) {
    .sec5 .radio_area.posi {
        top: 38.7%;
        left: 44%;
    }

    .sec5 .radio_area.posi div {
        margin-bottom: 3.8271vw;
    }

    .sec5 .radio_area.posi2 {
        top: 58.7%;
        left: 54.8%;
    }

    .sec5 .radio_area.posi3 {
        top: 75.6%;
        left: 54.8%;
    }

    .sec5 .radio_area.posi4 {
        top: 93.5%;
        left: 62.5%;
    }

    .sec5-2 .agree_area {
        position: absolute;
        top: 5%;
        left: 4.8%;
        width: 10%;
        height: auto;
    }

    .sec6 .radio_area.posi {
        top: 75.7%;
        left: 44%;
    }

    .sec7 .agree_area {
        position: absolute;
        top: 4%;
        left: 4.8%;
        width: 10%;
        height: auto;
    }


    .popup .desc_wrap .top {
        padding: 20px 15px;
        font-size: 1.3rem;
        line-height: 1.6;
    }

    .popup .desc_wrap .btm>div {
        padding: 10px;
    }

    .popup .desc_wrap .btm>div>b {
        width: 100%;
        float: none;
        display: block;
    }

    .popup .desc_wrap .btm>div>div {
        width: calc(100% - 100px);
        float: none;
        display: block;
    }

    .popup .pop_wrap {
        height: 680px;
        margin-top: -340px;
    }

    .popup .desc_wrap {
        height: 610px;
    }

    .popup .desc_wrap .fileBox_wrap .inputBox {
        width: 100%;
        float: none;
        display: block;
    }

    .popup .desc_wrap .fileBtn {
        margin-left: 0;
    }

    .popup.againPop .pop_wrap {
        height: 580px;
        margin-top: -340px;
    }



}
@media screen and (max-width: 400px) {


    .sec5 .radio_area.posi div {
        margin-bottom: 2.6271vw;
    }

    .sec5 .radio_area.posi2 div {
        margin-bottom: 1.0438vw;
    }

    .sec5 .radio_area.posi3 div {
        margin-bottom: 1.0438vw;
    }

    .sec5-2 .agree_area {
        position: absolute;
        top: 3%;
        left: 4.8%;
        width: 10%;
        height: auto;
    }
    #sub .sec5-2 .agree_area input[type="checkbox"] {
        height: 3.0042vw;
        width: 2.6042vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }

    .sec6 .radio_area.posi div {
        margin-bottom: 2.0063vw;
    }

    #sub .sec7 .agree_area input[type="checkbox"] {
        height: 3.0042vw;
        width: 2.6042vw;
        border: 1px solid #2e2e2e;
        background: #f0f0f0;
    }
}

@media screen and (max-width: 360px) {}