.event-view {
    background: #fff;
}

.event-view {
    max-width: 2560px;
    margin: 0 auto;
}

.event-view .mo-img {
    display: none;
}

.event-view .sec .inner {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.event-view img {
    width: 100%;
}

.event-view iframe {
    bordeR: 0;
}

.event-view .section1 {background: url('../images/passreview_bg_01.jpg') center no-repeat;}
.event-view .section2 {background: #fffde8;}
.event-view .section3 {background: #333ce6;}
.event-view .section4 {background: #fffde8;}
.event-view .section5 {background: #333ce6;}
.event-view .section6 {background: #f4f4f4;}
.event-view .section7 {background: #f4f4f4;}
.event-view .section8 {background: #333;}

/* section1 */
.section1 .link1 {
    position: absolute;
    top: 89.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 15px 0;
    color: #fff;
    font-size: 54px;
    font-weight: 500;
    text-align: center;
    background: #262626;
    border-radius: 100px;
}
.section1 .link1 b {
    color: #ff6b6b;
}
.section1 .link1::after {
    position: absolute;
    content: '';
    top: 42%;   
    right: 18%;
    width: 20px;
    height: 20px;
    transform: translate(-2px, -2px) rotate(315deg);
    border-right: 4px solid #ff6b6b;
    border-bottom: 4px solid #ff6b6b;
}

/* section6 */

.section6 .linkform {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    padding: 0 30px;
}

.section6 .linkform .inner {
    box-sizing: border-box;
    position: relative;
    font-size: 0;
    padding-bottom: 0;
    
}

.section6 .linkform input::placeholder {
    font-size: 28px;
    font-weight: 300;
    color: #000;
}

.section6 .linkform input[type="text"] {
    width: 77%;
    border: none;
    height: 112px;
    line-height: 112px;
    padding: 0 50px;
    font-size: 29px;
    color: #666;
    background: #fff;
    border: 2px solid #828282;
    box-sizing: border-box;
}

.section6 .linkform input[type="button"] {
    width: 23%;
    padding-left: 15px;
    border: none;
    background: none;
    height: 112px;
    line-height: 75px;
    font-family: 'GmarketSansMedium';
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    background-color: #000a4f;
}

.count-text {
    position: absolute;
    bottom: 9.5%;
    right: 25%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #000;
    opacity: 0.5;
    text-align: right;
}


/* section7 */
/*리스트*/

.section7.bbs_wrap .inner {
    /* background: url(../images/workskill_08.jpg) repeat-y ; */
    padding-bottom: 0;
}

.section7 .pr_board_area{
    position: static;
    margin: auto;
    width: 93%;
    height: auto;
    background: #fff;
    padding-bottom: 40px;
}

.section7 .bbs {
    margin-top: 0;
}

#sub .bbs_wrap .bbs table.list {
    margin: auto;
    width: 97%;
    table-layout: fixed
}

#sub .bbs_wrap .bbs .list_bg {
    padding: 0;
    /* background: #fff; */
    height: auto;
}

#sub .bbs_wrap .bbs .list {
    background: #fff;
    padding: 20px;
}

#sub .bbs_wrap .bbs .list thead {
    border-top: none;
    border-bottom: 2px solid #000;
}

#sub .bbs_wrap .bbs .list thead th {
    color: #000
}

#sub .bbs_wrap .bbs .list tbody td.title {
    display: block;
    padding-left: 0;
    margin-left: 0;
}


#sub .bbs_wrap .bbs .list tbody td.date::after {
    display: none;
}

#sub .bbs_wrap .bbs .pagenate {
    margin: 0 auto 0;
    padding: 40px 0;
    /* background: #f1f1f1; */
}

.pagenate li a {
    color: #222;
}

.pagenate li a:hover {
    background: #222;
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
}

.pagenate li a.current {
    color: #fff;
    background-color: #222;
    font-weight: 500;
    border: 1px solid #fff;
}


/*section8 유의사항*/
.section8 .inner {
    padding: 50px 60px;
}


.section8 .noticeList {
    margin: auto;
    padding: 40px 130px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #333;
}

.section8 .noticeList > li:first-child {
    margin-top: 0;
}

.section8 .noticeList li {
    line-height: 1.6;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.section8 .noticeList li.xi-icon {
    position: relative;
    padding-left: 20px;
}
.section8 .noticeList li.xi-icon::before{
    content: "-";
    position: absolute;
    top: -3px;
    left: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.section8 .noticeList li .s_tit {
    font-size: 26px;
    font-weight: 700;
}

.section8 .noticeList li .s_tit b {
    color: yellow;
}

.section8 .noticeList .cont_d {
    padding-left: 15px;
}

.section8 .noticeList .grade {
    color: rgba(255, 255, 255, 0.6);
}
.section8 .member_btn {
    padding: 2px 8px;
    color: #4a4a4a ;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    background: #f2f2f2 ;
}

@media screen and (max-width: 1400px){
    /* section1 */
    .section1 .link1 {
        position: absolute;
        top: 89.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        padding: 1.0714vw 0;
        color: #fff;
        font-size: 3.8571vw;
        font-weight: 500;
        text-align: center;
        background: #262626;
        border-radius: 7.1429vw;
    }
    .section1 .link1 b {
        color: #ff6b6b;
    }
    .section1 .link1::after {
        position: absolute;
        content: '';
        top: 42%;   
        right: 18%;
        width: 1.4286vw;
        height: 1.4286vw;
        transform: translate(-0.1429vw, -0.1429vw) rotate(315deg);
        border-right: 0.2857vw solid #ff6b6b;
        border-bottom: 0.2857vw solid #ff6b6b;
    }
}

@media screen and (max-width: 1280px){
    /* .section1 .link1 {      
        padding: 1.9531vw 14.0625vw 1.9531vw 10.7813vw;      
        font-size: 2.0875vw;      
        border-radius: 1.5625vw;
    }
    .section1 .link1::after {      
        right: 9.6875vw;
        font-size: 1.5625vw;
    } */

    /* section6 */
    .section6 .linkform {
        padding: 0 2.3438vw;
    }

    .section6 .linkform .inner {
        border: 0.2344vw solid #000;
    }

    .section6 .linkform input[type="text"] {
        border: none;
        height: 7.8125vw;
        line-height: 6.0938vw;
        padding: 0 3.9063vw;
        font-size: 2.9rem;    
    }

    .section6 .linkform input[type="button"] {
        padding-left: 1.1719vw;
        border: none;
        background: none;
        height: 7.8125vw;
        font-size: 3.1250vw;
        line-height: 5.8594vw;    
        background-color: #000a4f; 
    }

    .count-text {
        font-size: 0.9375vw;
        line-height: 1.4063vw;
        letter-spacing: -0.02em;  
    }

    /* section7 */
    /*리스트*/

    .section7 .pr_board_area{
        padding-bottom: 3.1250vw;
    }


    #sub .bbs_wrap .bbs .list {
        padding: 1.5625vw;
    }

    #sub .bbs_wrap .bbs .list thead {
        border-top: none;
        border-bottom: 0.1563vw solid #000;
    }

    #sub .bbs_wrap .bbs .list tbody td.title {    
        padding-left: 0;
        margin-left: 0;
    }


    #sub .bbs_wrap .bbs .pagenate {
        margin: 0 auto 0;
        padding: 3.1250vw 0;
    }


    .pagenate li a:hover {
        background: #222;  
        
        text-decoration: none !important;}

    .pagenate li a.current {    
        
        
        border: 0.0781vw solid #fff;
    }

    /*section8 유의사항*/
    .section8 .inner {
        padding: 3.9063vw 4.6875vw;
    }
    .section8 .noticeList {
        margin: auto;
        padding: 3.1250vw 4.1563vw;
        border: 0.0781vw solid rgba(255, 255, 255, 0.2);
        background: #333;
    }

    .section8 .noticeList > li:first-child {
        margin-top: 0;
    }
    .section8 .noticeList li {
        line-height: 1.6;        
        font-size: 1.1719vw;        
    }

    .section8 .noticeList li.xi-icon {        
        padding-left: 1.5625vw;
    }
    .section8 .noticeList li.xi-icon::before{               
        top: -0.2344vw;
        left: 0;        
        font-size: 1.4063vw;
        
    }
    .section8 .noticeList li .s_tit {
        font-size: 2.0313vw;        
    }

    .section8 .noticeList .cont_d {
        padding-left: 1.1719vw;
    }
    .section8 .noticeList .grade {
        color: rgba(255, 255, 255, 0.6);
    }
    .section8 .member_btn {
        padding: 0.1563vw 0.6250vw;        
        font-size: 0.9375vw;        
        border: 0.0781vw solid #cfcfcf;
        border-radius: 0.2344vw;
        background: #f2f2f2 ;
    }

}

@media screen and (max-width: 768px){
    .event-view .mo-img {
        display: block;
    }

    .event-view .pc-img {
        display: none !important;
    }

    /* section1 */
    .section1 .link1 {
        position: absolute;
        top: 91%;
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        padding: 1.0417vw 0;
        color: #fff;
        font-size: 4.4271vw;
        font-weight: 500;
        text-align: center;
        background: #262626;
        border-radius: 13.0208vw;
    }
    .section1 .link1 b {
        color: #ff6b6b;
    }
    .section1 .link1::after {
        position: absolute;
        content: '';
        top: 38%;   
        right: 18%;
        width: 2.3438vw;
        height: 2.3438vw;
        transform: translate(-0.2604vw, -0.2604vw) rotate(315deg);
        border-right: 0.3906vw solid #ff6b6b;
        border-bottom: 0.3906vw solid #ff6b6b;
    }

    /* section6 */
    .section6 .linkform {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        padding: 0;
    }

    .section6 .linkform input::placeholder {
        font-size: 2.6042vw;
        font-weight: 500;
        /* color: #454545; */
    }
    .section6 .linkform input[type="text"] {
        width: 77%;
        border: none;
        height: 9.1146vw;
        line-height: 10.1563vw;
        padding: 0 2.4740vw;
        font-size: 1.8229vw;
        color: #666666;
        background: #fff;
        /* border: 0.1302vw solid #222; */
        box-sizing: border-box;
    }
    .section6 .linkform input[type="button"] {
        width: 23%;
        padding-left: 1.9531vw;
        border: none;
        background: none;
        height: 9.1146vw;
        line-height: 9.7656vw;
        font-family: 'GmarketSansMedium';
        font-size: 3.1250vw;
        color: #fff;
        font-weight: 500;
        background-color: #000a4f;
    }

    .count-text {
        position: absolute;
        bottom: 0;
        right: 25%;
        font-weight: 400;
        font-size: 1.5625vw;
        line-height: 2.3438vw;
        letter-spacing: -0.02em;
        color: #000;
        opacity: 0.5;
        text-align: right;
    }

    /* section7 */

    .section7 .pr_board_area {
        position: static;
        margin: auto;
        width: 96%;
        height: auto;
        background: #fff;
        padding-bottom: 5.2083vw;
    }
    #sub .bbs_wrap .bbs .list_bg {
        padding: 3.9063vw 0;
        height: auto;
    }  
     

    /* section8 */
    .section8 .inner {
        width: 100%;
        padding: 6.5104vw 2.2083vw;
    }
    .section8 .noticeList {
        margin: auto;
        padding: 2.6042vw;
        border: 0.1302vw solid rgba(255, 255, 255, 0.2);
    }
    .section8 .noticeList li {
        line-height: 1.6;
        font-size: 1.9531vw;
    }
    .section8 .noticeList li.xi-icon {
        padding-left: 2.6042vw;
    }
    .section8 .noticeList li.xi-icon::before{
        top: -0.3906vw;
        left: 0;
        font-size: 2.3438vw;
    }
    .section8 .noticeList li .s_tit {
        font-size: 3.3854vw;
    }
    .section8 .noticeList .cont_d {
        padding-left: 1.9531vw;
    }
    .section8 .member_btn {
        padding: 0.2604vw 1.0417vw;
        color: #4a4a4a;
        font-size: 1.5625vw;
        font-weight: bold;
        border: 0.1302vw solid #cfcfcf;
        border-radius: 0.3906vw;
        background: #f2f2f2;
    }



}