/* passup main*/
.main_wrapper.passUp { margin-bottom: 16px;}
.main_wrapper.passUp_mb{margin-bottom: 40px;}
.main_wrapper .sub_tit { position: relative; color: #1e1e1e; font-size: 18px; line-height: 1; }
.main_wrapper .sub_tit span {margin-left: 10px;}

/* main_passupBnr_area */
.main_passupBnr_area  { position: relative; width: 100%; }
.main_passupBnr_area .mainPassUpBnr_swiper-container{ position: relative; width: 100%; height: auto; overflow: hidden;}
.main_passupBnr_area .mainPassUpBnr_swiper-container .swiper-slide{border-radius: 14px; overflow: hidden ;}

/* passupAD_area */
.passupAD_area  { position: relative; width: 100%; padding-bottom: 10px;}
.passupAD_swiper-container{position: relative;width: 100%; height: auto; overflow: hidden; overflow: hidden;}
.passupAD_swiper-container .swiper-wrapper img{width: 100%;}
.passupAD_swiper-container .swiper-wrapper .swiper-slide { border-radius: 15px;overflow: hidden;}
.passupAD_swiper-container  .swiper-pagination-bullet { background-color: #333;}

/* professorsIntro */
.professorsIntro { margin-top: 40px;  background: #f5f5f5;}
.professorsIntro  .professorsIntro_swiper-container{ position: relative; width: 100%; height: 360px; padding-top: 48px; padding-bottom: 48px; overflow: hidden; }
.professorsIntro  .professorsIntro_swiper-container .swiper-slide { position: relative; border-radius: 14px;  background: #dde6fd; }
.professorsIntro  .professorsIntro_swiper-container .swiper-slide::before {position: absolute;content: ''; bottom: 0; left: 0; width: 100%; height: 100%; border-bottom-left-radius: 14px; border-bottom-right-radius: 14px; background: linear-gradient(to top, #5B7ED7 10%, #5b7ed700 35%); z-index: 1;}
.professorsIntro  .professorsIntro_swiper-container .swiper-slide img {position: absolute;bottom: 0; left: 50%; transform: translateX(-50%); width: 387px; height: 392px;}
.professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box {position: absolute; bottom: 0; left: 0; width: 100%; height: 98px; border-radius: 14px; background: linear-gradient(to right, rgba(255,255,255,.5) ,rgba(255,255,255, .8));backdrop-filter: blur(10px); z-index: 2; }
.professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul { display:flex ;justify-content: space-around;align-items: center; width: 100%; height: 100%;color: #1e1e1e;}
.professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name {  font-size: 18px; font-weight: 500; text-align: left; line-height: 1.2;}
.professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name p {font-size: 32px; font-weight: 700;}
.professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .modifier_txt {font-size: 14px; font-weight: 600; text-align: right; white-space: pre-line;}

/* passUpBook_area */
.passUpBook_area .book_box{ margin-top: 15px; display: flex; width: 100%; box-sizing: border-box; border-top: 1px solid #1e1e1e; border-bottom: 1px solid #1e1e1e;}
.passUpBook_area .book_box .recomm_wrap { position: relative; width: 460px; height: 375px; background: #f5f5f5;}
.passUpBook_area .book_box .recomm_wrap .bestBook_tit {position: absolute; top: 28px; left: 28px; width: 150px; height: 282px;background: linear-gradient(to top, rgba(245,245,245, 0) 20%, rgba(245,245,245, 1) 70%); z-index: 2;}
.passUpBook_area .book_box .recomm_wrap .bestBook_tit .ico_best span{ display: inline-block; width: 87px; height: 34px; color: #253887; font-size: 16px; font-weight:bold ; text-align: center; line-height: 34px; border-radius: 50px;  background: #DAD8FF;}
.passUpBook_area .book_box .recomm_wrap .bestBook_tit .title { margin-top: 20px; color:#1e1e1e; font-size: 24px;font-weight: 700; line-height: 1; letter-spacing: -1px;}
.passUpBook_area .book_box .recomm_wrap .slider_area {padding: 28px 28px 0;}
.passUpBook_area .book_box .recommBook_swiper-container{ position: relative; width: 100%; height: auto; padding-bottom: 46px; overflow: hidden;}
.passUpBook_area .book_box .recommBook_swiper-container .swiper-pagination {height: 24px;}
.passUpBook_area .book_box .recommBook_swiper-container .swiper-pagination-bullet-active {background: #345EC9;}
.passUpBook_area .book_box .book_info {display: flex;justify-content: space-between;}
.passUpBook_area .book_box .book_info ul{position: relative; width: calc(100% - 204px);}
.passUpBook_area .book_box .book_info .subject {position: absolute;bottom: 0; left: 0; color: #000; font-size: 18px; font-weight: 500; line-height: 1.6; letter-spacing: -1px; white-space: pre-line; }
.passUpBook_area .book_box .book_info .book_cover {width:208px ;}
.passUpBook_area .book_box .newBook_wrap {width: 716px; height: auto;}
.passUpBook_area .book_box .newBook_wrap .slider_box { position: relative; padding: 18px 15px;}
.passUpBook_area .book_box .newBook_wrap .slider_box .more_go{position: absolute;top: 16px;  right: 15px;color: rgba(0, 0, 0, .5); font-size: 16px; font-weight: 500;  text-decoration: underline; }
.passUpBook_area .book_box .newBook_wrap .slider_box h4 { color: #1e1e1e; font-size: 18px; font-weight: 700; text-align: center;line-height: 1; letter-spacing: -1px;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area { position: relative; margin-top: 22px; width: 100%; }
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newBook_swiper-container{ position: relative; margin: auto; width: 524px; height: 287px; overflow: hidden;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after,
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after { position: absolute;width: 28px; height: 30px;color: #1c1b1f; font-size: 10px; font-weight: 600; text-align: center; line-height: 30px;   background: rgba(217, 217, 217, .3); border-radius: 50px;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after {padding-right: 2px;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after {padding-left: 2px;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info li {text-align: center;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .author { margin-top: 20px; color: #999; font-size: 14px; font-weight: 500; letter-spacing: -1px; line-height: 1;}
.passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .subject { margin-top: 10px;color: #1e1e1e; font-size: 16px;font-weight: 500; line-height: 1.4; white-space: pre-line;}

/* passUpyoutube_area */
.passUpYoutube_area .slider_box{ margin-top: 15px; width: 100%; box-sizing: border-box; border-top: 1px solid #1e1e1e; border-bottom: 1px solid #1e1e1e;}
.passUpYoutube_area .slider_box .slider_area {padding: 20px 0;}
.passUpYoutube_area .passUpyoutube_swiper-container{ position: relative; width: 100%; height: 240px; overflow: hidden;}
.passUpYoutube_area .passUpyoutube_info {color: #1e1e1e;}
.passUpYoutube_area .passUpyoutube_info .thumbnail { height: 158px; border-radius: 14px; overflow: hidden;}
.passUpYoutube_area .passUpyoutube_info .pname{ margin-top: 12px; padding-left: 12px; font-size: 18px; font-weight: 700; line-height: 1; }
.passUpYoutube_area .passUpyoutube_info .ytitle{margin-top: 10px; padding-left: 12px; font-size: 16px; font-weight: 500; line-height: 1.4; text-overflow: ellipsis;    display: -webkit-box;    -webkit-box-orient: vertical;    -webkit-line-clamp: 2;overflow: hidden;}

/* passUpNotice_area */
.passUpNotice_area {display: flex; justify-content: space-between;}
.passUpNotice_area .noticeTab_wrap { width: 577px;}
.passUpNotice_area .noticeCate_tab { width: 100%;}
.passUpNotice_area .noticeCate_tab ul {position: relative;  display: flex; padding-bottom: 14px;}
.passUpNotice_area .noticeCate_tab ul::after{position: absolute; content: ''; bottom: 0; left: 0; width: 100%; height: 1px; background: #1e1e1e;}
.passUpNotice_area .noticeCate_tab li { position: relative;  height: 20px; text-align: center; padding: 0 10px; }
.passUpNotice_area .noticeCate_tab li:nth-child(1)::before {position: absolute;content: ''; top: 0; right: 0; width: 1px; height: 100%; background: rgba(0, 0, 0, .5); }
.passUpNotice_area .noticeCate_tab li a:nth-child(1) {  display: block; width: 100%; height: 100%;  font-size: 18px; color: rgba(30 , 30, 30, .5); font-weight: 700; line-height: 20px;   }
.passUpNotice_area .noticeCate_tab li.active a:nth-child(1)  { color: #000099; }
.passUpNotice_area .noticeTab_wrap .notice_list {position: relative; width: 100%;}
.passUpNotice_area .noticeTab_wrap .more_go { position: absolute; top: -35px; right: 12px; color: rgba(0, 0, 0, .5); font-size: 16px; font-weight: 500;  text-decoration: underline;}
.passUpNotice_area .list {padding:12px 0; min-height: 140px }
.passUpNotice_area .list > li { position: relative; padding-left: 10px; display: flex; align-items: center;}
.passUpNotice_area .list > li > a{position: relative; display: inline-block; font-size:14px; line-height:35px; color:#1e1e1e; padding-right: 23px;   white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;}
.passUpNotice_area .list > li > a.ico_new::before{position: absolute; content: 'N'; top: 8px; right: 0; width: 16px;line-height:18px; height: 16px; color: #fff; text-align: center; border-radius: 4px; background: #D24B4D; }

.passUpNotice_area .reveiw_wrap {width: 577px;}
.passUpNotice_area .reveiw_wrap .sub_tit span { position: relative; display:inline-block ; margin-left: 0; padding-left: 14px; padding-bottom: 14px; width: calc(100% - 14px); height: 20px; line-height: 20px;}
.passUpNotice_area .reveiw_wrap .sub_tit span::before {position: absolute; content: ''; bottom: 0; left: 0; width: 100%; height: 1px; background: #1e1e1e;}
.passUpNotice_area .reveiw_wrap .sub_tit .more_go { position: absolute; top: 4px; right: 24px; color: rgba(0, 0, 0, .5); font-size: 16px; font-weight: 500;  text-decoration: underline;}

/* service_area */
.main_wrapper .service_tit {padding: 0;}
.main_wrapper .service_tit h1 { padding-left: 10px; padding-bottom: 14px;}
.serviceGb .serviceGb_l .serviceGb_l_btn {padding: 42px 0 0 6px; height: 60px;}
.serviceGb .serviceGb_l .serviceNoti {font-weight: 500;}
.serviceGb .serviceGb_online {padding: 42px 0 0 48px;}
.serviceGb .serviceGb_offline {padding: 42px 0 0 26px;}

.leftSky_bnr {margin-left: -712px;}
.rightSky_bnr {margin-right: -700px;}

@media (max-width: 1200px) {

    /* passup main*/
    .main_wrapper.passUp { margin-bottom: 1.3333vw;}
    .main_wrapper.passUp_mb{margin-bottom: 3.3333vw;}
    .main_wrapper .sub_tit {  font-size: 1.5000vw; line-height: 1; }
    .main_wrapper .sub_tit span {margin-left: 0.8333vw;}

    /* main_passupBnr_area */
    .main_passupBnr_area  {  width: 100%; }
    .main_passupBnr_area .mainPassUpBnr_swiper-container{  width: 100%; height: auto; }
    .main_passupBnr_area .mainPassUpBnr_swiper-container .swiper-slide{border-radius: 1.1667vw; }

    /* passupAD_area */
    .passupAD_area  {  width: 100%; padding-bottom: 0.8333vw;}
    .passupAD_swiper-container{width: 100%; height: auto;  }
    .passupAD_swiper-container .swiper-wrapper img{width: 100%;}
    .passupAD_swiper-container .swiper-wrapper .swiper-slide { border-radius: 1.2500vw;}

    /* professorsIntro */
    .professorsIntro { margin-top: 3.3333vw;  background: #f5f5f5;}
    .professorsIntro  .professorsIntro_swiper-container{  width: 100%; height: 30.0000vw; padding-top: 4.0000vw; padding-bottom: 4.0000vw;  }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide {  border-radius: 1.1667vw;  background: #dde6fd; }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide::before { bottom: 0; left: 0; width: 100%; height: 100%; border-bottom-left-radius: 1.1667vw; border-bottom-right-radius: 1.1667vw;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide img {bottom: 0; left: 50%; transform: translateX(-50%); width: 32.2500vw; height: 32.6667vw;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box { bottom: 0; left: 0; width: 100%; height: 8.1667vw; border-radius: 1.1667vw; background: linear-gradient(to right, rgba(255,255,255,.5) ,rgba(255,255,255, .8));backdrop-filter: blur(0.8333vw);  }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul { align-items: center; width: 100%; height: 100%;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name {  font-size: 1.5000vw;   line-height: 1.2;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name p {font-size: 2.6667vw; }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .modifier_txt {font-size: 1.1667vw;   white-space: pre-line;}

    /* passUpBook_area */
    .passUpBook_area .book_box{ margin-top: 1.2500vw;  width: 100%;  border-top: 0.0833vw solid #1e1e1e; border-bottom: 0.0833vw solid #1e1e1e;}
    .passUpBook_area .book_box .recomm_wrap {width: 38.3333vw; height: 31.2500vw; background: #F5F5F5;}
    .passUpBook_area .book_box .recomm_wrap .slider_area {padding: 2.3333vw 2.3333vw 0;}
    .passUpBook_area .book_box .recommBook_swiper-container{  width: 100%; height: auto; padding-bottom: 3.8333vw; }
    .passUpBook_area .book_box .recommBook_swiper-container .swiper-pagination {height: 2.0000vw;}
    .passUpBook_area .book_box .recommBook_swiper-container .swiper-pagination-bullet-active {background: #345EC9;}
    .passUpBook_area .book_box .book_info ul{ width: calc(100% - 17.0000vw);}
    .passUpBook_area .book_box .book_info .ico_best span{  width: 7.2500vw; height: 2.8333vw;  font-size: 1.3333vw;   line-height: 2.8333vw; border-radius: 4.1667vw;  background: #DAD8FF;}
    .passUpBook_area .book_box .book_info .title { margin-top: 1.6667vw;  font-size: 2.0000vw; line-height: 1; letter-spacing: -0.0833vw;}
    .passUpBook_area .book_box .book_info .subject {bottom: 0; left: 0;  font-size: 1.5000vw;  line-height: 1.6; letter-spacing: -0.0833vw; white-space: pre-line;}
    .passUpBook_area .book_box .book_info .book_cover {width:17.3333vw ;}
    .passUpBook_area .book_box .newBook_wrap {width: 59.6667vw; height: auto;}
    .passUpBook_area .book_box .newBook_wrap .slider_box {  padding: 1.5000vw 1.2500vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .more_go{top: 1.3333vw;  right: 1.2500vw;color: rgba(0, 0, 0, .5); font-size: 1.3333vw;   text-decoration: underline; }
    .passUpBook_area .book_box .newBook_wrap .slider_box h4 {  font-size: 1.5000vw;  line-height: 1; letter-spacing: -0.0833vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area {  margin-top: 1.8333vw; width: 100%; }
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newBook_swiper-container{  margin: auto; width: 43.6667vw; height: 23.9167vw; }
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after,
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after { width: 2.3333vw; height: 2.5000vw; font-size: 0.8333vw;   line-height: 2.5000vw;   background: rgba(217, 217, 217, .3); border-radius: 4.1667vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after {padding-right: 0.1667vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after {padding-left: 0.1667vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .author { margin-top: 1.6667vw;  font-size: 1.1667vw;  letter-spacing: -0.0833vw; line-height: 1;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .subject { margin-top: 0.8333vw; font-size: 1.3333vw; line-height: 1.4; white-space: pre-line;}


    /* passUpyoutube_area */
    .passUpYoutube_area .slider_box{ margin-top: 1.2500vw; width: 100%;  border-top: 0.0833vw solid #1e1e1e; border-bottom: 0.0833vw solid #1e1e1e;}
    .passUpYoutube_area .slider_box .slider_area {padding: 1.6667vw 0;}
    .passUpYoutube_area .passUpyoutube_swiper-container{  width: 100%; height: 20.0000vw; }
    .passUpYoutube_area .passUpyoutube_info .thumbnail { height: 13.1667vw; border-radius: 1.1667vw; }
    .passUpYoutube_area .passUpyoutube_info .pname{ margin-top: 1.0000vw; padding-left: 1.0000vw; font-size: 1.5000vw;  line-height: 1; }
    .passUpYoutube_area .passUpyoutube_info .ytitle{margin-top: 0.8333vw; padding-left: 1.0000vw; font-size: 1.3333vw;  line-height: 1.4;   -webkit-box-orient: vertical;    -webkit-line-clamp: 2;}

    /* passUpNotice_area */
    .passUpNotice_area .noticeTab_wrap { width: 48.0833vw;}
    .passUpNotice_area .noticeCate_tab { width: 100%;}
    .passUpNotice_area .noticeCate_tab ul {   padding-bottom: 1.1667vw;}
    .passUpNotice_area .noticeCate_tab ul::after{  bottom: 0; left: 0; width: 100%; height: 0.0833vw; background: #1e1e1e;}
    .passUpNotice_area .noticeCate_tab li {   height: 1.6667vw;  padding: 0 0.8333vw; }
    .passUpNotice_area .noticeCate_tab li:nth-child(1)::before { top: 0; right: 0; width: 0.0833vw; height: 100%; background: rgba(0, 0, 0, .5); }
    .passUpNotice_area .noticeCate_tab li a:nth-child(1) {   width: 100%; height: 100%;  font-size: 1.5000vw; color: rgba(30 , 30, 30, .5);  line-height: 1.6667vw;   }

    .passUpNotice_area .noticeTab_wrap .notice_list { width: 100%;}
    .passUpNotice_area .noticeTab_wrap .more_go {  top: -2.9167vw; right: 1.0000vw; color: rgba(0, 0, 0, .5); font-size: 1.3333vw;   text-decoration: underline;}
    .passUpNotice_area .list {padding:1.0000vw 0; min-height: 11.6667vw }
    .passUpNotice_area .list > li {  padding-left: 0.8333vw;  align-items: center;}
    .passUpNotice_area .list > li > a{  font-size:1.1667vw; line-height:2.9167vw;  padding-right: 1.9167vw;   white-space: nowrap;   }
    .passUpNotice_area .list > li > a.ico_new::before{  top: 0.6667vw; right: 0; width: 1.3333vw;line-height:1.5000vw; height: 1.3333vw;   border-radius: 0.3333vw; background: #D24B4D; }

    .passUpNotice_area .reveiw_wrap {width: 48.0833vw;}
    .passUpNotice_area .reveiw_wrap .sub_tit span {   margin-left: 0; padding-left: 1.1667vw; padding-bottom: 1.1667vw; width: calc(100% - 1.1667vw); height: 1.6667vw; line-height: 1.6667vw;}
    .passUpNotice_area .reveiw_wrap .sub_tit span::before {  bottom: 0; left: 0; width: 100%; height: 0.0833vw; background: #1e1e1e;}
    .passUpNotice_area .reveiw_wrap .sub_tit .more_go {  top: 0.3333vw; right: 2.0000vw; color: rgba(0, 0, 0, .5); font-size: 1.3333vw;   text-decoration: underline;}

    /* service_area */
    .service_tit h1 { padding-left: 0.8333vw; padding-bottom: 1.1667vw;}
    .serviceGb .serviceGb_l .serviceGb_l_btn {padding: 3.5000vw 0 0 0.5000vw; height: 5.0000vw;}
    .serviceGb .serviceGb_online {padding: 3.5000vw 0 0 4.0000vw;}
    .serviceGb .serviceGb_offline {padding: 3.5000vw 0 0 2.1667vw;}


}


@media (max-width: 768px) {
    .main_wrapper .sub_tit { font-size: 3.1250vw; }
    .main_wrapper.passUp { width: calc(100% - 5.2083vw); margin-bottom: 0.2604vw;}
    .main_wrapper.passUp_mb{margin-bottom: 10.4167vw;}
    .main_wrapper.passUp_mb .sub_tit { padding-bottom: 0; }


    /* main_passupBnr_area */
    .main_passupBnr_area  { position: relative; width: 100%; }
    .main_passupBnr_area .mainPassUpBnr_swiper-container{ position: relative; width: 100%; height: auto; overflow: hidden; padding-bottom: 3.9063vw;}
    .main_passupBnr_area .mainPassUpBnr_swiper-container .swiper-pagination {height: 3.1250vw;}

    .main_passupBnr_area .mainPassUpBnr_swiper-container .swiper-pagination-bullet-active {background: #345EC9;}

    /* passupAD_area */
    .passupAD_area { margin: auto; width: calc(100% - 5.2083vw);}

    /* professorsIntro */
    .professorsIntroSlider_area {margin-left: 1.5625vw;}
    .professorsIntro { margin-top: 0; }
    .professorsIntro  .professorsIntro_swiper-container{ position: relative; width: 100%; height: 69.5313vw; padding-top: 10.4167vw; padding-bottom: 3.3854vw; overflow: hidden; }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide { position: relative; border-radius: 1.8229vw;  background: #dde6fd; }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide::before {position: absolute;content: ''; bottom: 0; left: 0; width: 100%; height: 100%; border-bottom-left-radius: 1.8229vw; border-bottom-right-radius: 1.8229vw; background: linear-gradient(to top, #5B7ED7 5%, #5b7ed700 30%); z-index: 1;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide img {position: absolute;bottom: 0.2604vw; left: 50%; transform: translateX(-50%); width: 72.6563vw; height: 74.7396vw;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box {position: absolute; bottom: 0; left: 0; width: 100%; height: 16.1458vw; border-radius: 1.8229vw; background: linear-gradient(to right, rgba(255,255,255,.5) ,rgba(255,255,255, .8));backdrop-filter: blur(1.3021vw); z-index: 2; }
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul { display:flex ; justify-content: space-between;  margin: auto; width: calc(100% - 6.2500vw); height: 100%;color: #1e1e1e;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name { font-size: 2.3438vw; font-weight: 500; text-align: left; line-height: 1.2;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .pro_name p {font-size: 5.4688vw; font-weight: 700;}
    .professorsIntro  .professorsIntro_swiper-container .swiper-slide .intro_box ul .modifier_txt {font-size: 3.1250vw; font-weight: 600; text-align: right; line-height: 1.4; white-space: pre-line;}

    /* passUpBook_area */
    .passUpBook_area .book_box{ margin-top: 1.9531vw; display: flex; width: 100%; box-sizing: border-box; border-top: none; border-bottom: none;}
    .passUpBook_area .book_box .newBook_wrap { margin: auto; width:  calc(100% - 5.2083vw); height: auto;}
    .passUpBook_area .book_box .newBook_wrap .slider_box { position: relative; padding: 0 0 13.2813vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .more_go{position: absolute;top: auto; bottom: 0; right: auto; left: 50%; width: 100%; height: 8.0729vw; transform: translateX(-50%); display: flex;justify-content: center; align-items: center; color: rgba(0, 0, 0, 1); font-size: 2.8646vw; font-weight: 500; line-height: 8.0729vw; text-decoration:none; border-radius: 1.5625vw; box-sizing: border-box; border: 0.1302vw solid #8A9DAE; }
    .passUpBook_area .book_box .newBook_wrap .slider_box .more_go .allow { position: relative; display: inline-block; width: 3.1250vw; height: 3.1250vw; margin-left: 1.8229vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .more_go .allow::before { position: absolute; left: 0;  top: 0.7813vw;  content: '';width: 1.3021vw; height: 1.3021vw; border-top: 0.2604vw solid #1C1B1F; border-right: 0.2604vw solid #1C1B1F;transform: rotate(45deg);}
    .passUpBook_area .book_box .newBook_wrap .slider_box h4 { position: relative; color: #1e1e1e; padding-bottom:2.2135vw ; font-size: 3.1250vw; font-weight: 700; text-align: left;line-height: 1; letter-spacing: -0.1302vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box h4::after { position: absolute; content: '';bottom: 0; left: 0; width: 100%; height: 0.1302vw; background: #1e1e1e; }
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area { position: relative; margin-top: 5.2083vw; width: 100%; }
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newBook_swiper-container{ position: relative; margin: auto; width: 100%; height: auto; overflow: hidden;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after,
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after { position: absolute;width: 3.6458vw; height: 3.9063vw;color: #1c1b1f; font-size: 1.3021vw; font-weight: 600; text-align: center; line-height: 3.9063vw;   background: rgba(217, 217, 217, .3); border-radius: 6.5104vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-prev:after {padding-right: 0.2604vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .swiper-button-next:after {padding-left: 0.2604vw;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info li {text-align: center;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .book_cover { width: 29.9479vw; height: auto;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .book_cover img {width: 100%;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .author { margin-top: 3.1250vw; color: #999; font-size: 2.6042vw; font-weight: 500; letter-spacing: -0.1302vw; line-height: 1;}
    .passUpBook_area .book_box .newBook_wrap .slider_box .slider_area .newbook_info .subject { margin-top: 2.3438vw;color: #1e1e1e; font-size: 3.1250vw;font-weight: 500; line-height: 1.4; white-space: pre-line;}

    /* passUpyoutube_area */
    .passUpYoutube_area .sub_tit.case2 { position: relative; margin: auto; width:calc(100% - 5.2083vw); padding-bottom: 2.0833vw; padding-left: 0;}
    .passUpYoutube_area .sub_tit.case2::before {position: absolute; content: ''; bottom: 0; left: 0;width: 100%; height: 0.1302vw;  background: #1e1e1e;}
    .passUpYoutube_area .sub_tit.case2 span {margin-left: 0;}
    .passUpYoutube_area .slider_box{ margin-top: 0; margin-left: 2.6042vw; width:calc(100% - 2.6042vw); box-sizing: border-box; border-top: none; border-bottom: none;}
    .passUpYoutube_area .slider_box .slider_area {padding: 5.2083vw 0 0;}
    .passUpYoutube_area .passUpyoutube_swiper-container{ position: relative; width: 100%; height: 50.6510vw; overflow: hidden;}
    .passUpYoutube_area .passUpyoutube_info {color: #1e1e1e;}
    .passUpYoutube_area .passUpyoutube_info .thumbnail { height: 34.7656vw; border-radius: 1.8229vw; overflow: hidden;}
    .passUpYoutube_area .passUpyoutube_info .pname{ margin-top: 2.0833vw; padding-left: 1.5625vw; font-size: 2.6042vw; font-weight: 700; line-height: 1; }
    .passUpYoutube_area .passUpyoutube_info .ytitle{margin-top: 2.0833vw; padding-left: 1.5625vw; font-size: 3.1250vw; font-weight: 500; line-height: 1.4; text-overflow: ellipsis;    display: -webkit-box;    -webkit-box-orient: vertical;    -webkit-line-clamp: 2;overflow: hidden;}

    /* passUpNotice_area */
    .passUpNotice_area {display: flex; flex-direction: column; justify-content: space-between;}
    .passUpNotice_area .noticeTab_wrap { margin: auto; width: calc(100% - 5.2083vw); margin-bottom: 10.4167vw;}
    .passUpNotice_area .noticeCate_tab { width: 100%;}
    .passUpNotice_area .noticeCate_tab ul {position: relative;  display: flex; padding-bottom: 1.8229vw;}
    .passUpNotice_area .noticeCate_tab ul::after{position: absolute; content: ''; bottom: 0; left: 0; width: 100%; height: 0.1302vw; background: #1e1e1e;}
    .passUpNotice_area .noticeCate_tab li { position: relative;  height: 2.6042vw; text-align: center; padding: 0 1.8229vw; }
    .passUpNotice_area .noticeCate_tab li:nth-child(1) {padding-left: 0;}
    .passUpNotice_area .noticeCate_tab li:nth-child(1)::before {position: absolute;content: ''; top: 0; right: 0; width: 0.1302vw; height: 100%; background: rgba(0, 0, 0, .5); }
    .passUpNotice_area .noticeCate_tab li a:nth-child(1) {  display: block; width: 100%; height: 100%;  font-size: 3.1250vw; color: rgba(30 , 30, 30, .5); font-weight: 700; line-height: 2.6042vw;   }
    .passUpNotice_area .noticeCate_tab li.active a:nth-child(1)  { color: #000099; }
    .passUpNotice_area .noticeTab_wrap .notice_list {position: relative; width: 100%;}
    .passUpNotice_area .noticeTab_wrap .more_go { position: absolute; top: -5.2083vw; right: 1.5625vw; color: rgba(0, 0, 0, .5); font-size: 2.6042vw; font-weight: 500;  text-decoration: underline;}
    .passUpNotice_area .list {padding:2.6042vw 0 0; min-height: 18.2292vw }
    .passUpNotice_area .list > li { position: relative; padding-left: 0; display: flex; align-items: center;}
    .passUpNotice_area .list > li > a{position: relative; display: inline-block; font-size:2.6042vw; font-weight: 500; line-height:6.2500vw; color:#1e1e1e; padding-right: 2.9948vw;   white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;}
    .passUpNotice_area .list > li > a.ico_new::before{position: absolute; content: 'N'; top: 1.3021vw; right: 0; width: 2.0833vw;line-height:2.3438vw; height: 2.0833vw; color: #fff; font-size: 1.0417vw; text-align: center; border-radius: 0.5208vw; background: #D24B4D; }

    .passUpNotice_area .reveiw_wrap {margin: auto; width: calc(100% - 5.2083vw); margin-bottom: 5.2083vw;}
    .passUpNotice_area .reveiw_wrap .sub_tit {padding-left: 0; padding-bottom: 0;}
    .passUpNotice_area .reveiw_wrap .sub_tit span { position: relative; display:inline-block ; margin-left: 0; padding-left: 0; padding-bottom: 1.8229vw; width: calc(100% - 1.8229vw); height: 2.6042vw; line-height: 2.6042vw;}
    .passUpNotice_area .reveiw_wrap .sub_tit span::before {position: absolute; content: ''; bottom: 0; left: 0; width: 100%; height: 0.1302vw; background: #1e1e1e;}
    .passUpNotice_area .reveiw_wrap .sub_tit .more_go { position: absolute; top: 0.7813vw; right: 3.1250vw; color: rgba(0, 0, 0, .5); font-size: 2.6042vw; font-weight: 500;  text-decoration: underline;}


    /* service_area */
    .service_area {width: calc(100% - 5.2083vw);margin-bottom: 1.3021vw;}
    .main_wrapper .service_tit h1 { padding-left: 0;padding-bottom: 1.8229vw; border-bottom: 0.1302vw solid #1e1e1e;}
    .serviceGb .serviceGb_l .serviceGb_l_btn { justify-content: space-between; padding: 5.4688vw 0 0 ; height: 7.8125vw;}
    .serviceGb .serviceGb_l .serviceNoti {padding: 2.6042vw 0 0;}
    .serviceGb .serviceGb_r { width: 100%; border:none; margin-top: 2.2083vw;}
    .serviceGb .serviceGb_r div h3 {font-size: 3.6458vw;}
    .serviceGb .serviceGb_online em{ display: inline-block; margin-top: 1.8229vw; color: #666; font-size: 3.1250vw;}
    .serviceGb .serviceGb_online em strong{display: inline-block;margin-top: 2.6042vw;font-size: 4.1667vw;}
    .serviceGb .serviceGb_online p {font-size: 2.0833vw; letter-spacing: -0.1302vw;}
    .serviceGb .serviceGb_online::after {display: none;}

    .serviceGb .serviceGb_offline .s_tlt{color: #666;font-size: 3.1250vw;}
    .serviceGb .serviceGb_offline em { display: inline-block;color: #666; font-size: 3.1250vw;line-height: 1.6;}
    .serviceGb .serviceGb_offline em strong {line-height: 1;}

}


@media (max-width: 480px) {

     /* service_area */
     .main_wrapper .service_area {width: calc(100% - 5.2083vw);margin-bottom: 1.2500vw;}
     .main_wrapper .service_tit h1 { padding-left: 0;padding-bottom: 1.8750vw; border-bottom: 0.2083vw solid #1e1e1e;}
     .main_wrapper .serviceGb .serviceGb_l .serviceGb_l_btn { justify-content: space-between; padding: 5.4167vw 0 0 ; height: 8.3333vw;}
     .main_wrapper .serviceGb .serviceGb_l .serviceGb_l_btn a {padding: 0 10.4167vw; font-size: 3.3333vw; height: 8.3333vw; line-height: 8.3333vw; background-position: 7.7656vw 50%;}
     .serviceGb .serviceGb_l .serviceGb_l_btn a.btn2 {padding: 0 13.1250vw; background-position: 12.0677vw 50%;}
     .main_wrapper .serviceGb .serviceGb_l .serviceNoti {padding: 2.7083vw 0 0.0000vw;}
     .main_wrapper .serviceGb .serviceGb_r { width: 90%; border:none; margin-top: 2.2917vw;}
     .main_wrapper .serviceGb .serviceGb_r div h3 {font-size: 3.5417vw;}
     .main_wrapper .serviceGb .serviceGb_online em{ display: inline-block; margin-top: 1.8750vw; color: #666; font-size: 3.1250vw;}
     .main_wrapper .serviceGb .serviceGb_online em strong{display: inline-block;margin-top: 0.4167vw;}
     .main_wrapper .serviceGb .serviceGb_online p {font-size: 2.5000vw; letter-spacing: -0.2083vw;}
     .main_wrapper .serviceGb .serviceGb_online::after {display: none;}

     .main_wrapper .serviceGb .serviceGb_offline .s_tlt{color: #666;font-size: 3.1250vw;}
     .main_wrapper .serviceGb .serviceGb_offline em { display: inline-block;color: #666; font-size: 3.1250vw;line-height: 1.6;}
     .main_wrapper .serviceGb .serviceGb_offline em strong {line-height: 1;}

}